@use "sass:color";
@import "../def";
@import "./def";

[data-object="button"] {
  @mixin effect($base-background-color, $factor: 5%) {
    background-color: $base-background-color;

    &:hover {
      background-color: darken($base-background-color, $factor);
    }

    &:active {
      background-color: darken($base-background-color, $factor * 2);
    }
  }

  @include flex(row, center, center, 0.5rem);
  height: $input-height;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0 1rem;
  transition-duration: 175ms;
  transition-property: background-color;

  &:disabled {
    background-color: lighten($global-text-color, 70%) !important;
    color: lighten($global-text-color, 80%) !important;
    cursor: default !important;

    > [data-component~="button.icon"] {
      opacity: 50% !important;
    }
  }

  &[data-color="concept"] {
    @include effect($global-color-concept);
    color: #ffffff;
  }

  &[data-color="red"] {
    @include effect(#fb2c36);
    color: #ffffff;
  }

  > [data-component~="button.caption"] {
    top: 0.0625rem;
    position: relative;
  }
}