<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsb.kkirikkiri.mappers.ArticleMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `kkirikkiri`.`articles` (`board_id`,
                                             `title`,
                                             `menu`,
                                             `menu_name`,
                                             `min_order_price`,
                                             `order_price`,
                                             `delivery_price`,
                                             `order_time`,
                                             `restaurant`,
                                             `pickup_time`,
                                             `address_postal`,
                                             `address_primary`,
                                             `address_secondary`,
                                             `content`,
                                             `nickname`,
                                             `created_at`,
                                             `updated_at`)
        VALUES (#{boardId},
                #{title},
                #{menu},
                #{menuName},
                #{minOrderPrice},
                #{orderPrice},
                #{deliveryPrice},
                #{orderTime},
                #{restaurant},
                #{pickupTime},
                #{addressPostal},
                #{addressPrimary},
                #{addressSecondary},
                #{content},
                #{nickname},
                #{createdAt},
                #{updatedAt})
    </insert>
    <update id="update">
        UPDATE `kkirikkiri`.`articles`
        SET `board_id`          = #{boardId},
            `title`             = #{title},
            `menu`              = #{menu},
            `min_order_price`   = #{minOrderPrice},
            `order_price`       = #{orderPrice},
            `delivery_price`    = #{deliveryPrice},
            `order_time`        = #{orderTime},
            `restaurant`        = #{restaurant},
            `pickup_time`       = #{pickupTime},
            `address_postal`    = #{addressPostal},
            `address_primary`   = #{addressPrimary},
            `address_secondary` = #{addressSecondary},
            `content`           = #{content},
            `created_at`        = #{createdAt},
            `updated_at`        = #{updatedAt},
            `view`              = #{view},
            `menu_name`         = #{menuName}
        WHERE `id` = #{id}
        LIMIT 1
    </update>
<!--    조회수 증가-->
    <update id="incrementView" parameterType="int">
        UPDATE `kkirikkiri`.`articles`
        SET view = view + 1
        WHERE id = #{id}
    </update>
    <select id="selectById"
            resultType="com.lsb.kkirikkiri.entities.ArticleEntity">
        SELECT `id`                AS `id`,
               `board_id`          AS `boardId`,
               `title`             AS `title`,
               `menu`              AS `menu`,
               `menu_name`         AS `menuName`,
               `min_order_price`   AS `minOrderPrice`,
               `order_price`       AS `orderPrice`,
               `delivery_price`    AS `deliveryPrice`,
               `order_time`        AS `orderTime`,
               `restaurant`        AS `restaurant`,
               `pickup_time`       AS `pickupTime`,
               `address_postal`    AS `addressPostal`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `content`           AS `content`,
               `created_at`        AS `createdAt`,
               `updated_at`        AS `updatedAt`,
               `view`              AS `view`
        FROM `kkirikkiri`.`articles`
        WHERE id = #{id}
        LIMIT 1
    </select>
<!--    조회수 조회-->
    <select id="selectAllByBoardId" resultType="com.lsb.kkirikkiri.vos.ArticleVo">
        SELECT `t1`.`id` AS `id`,
               `t1`.`board_id` AS `boardId`,
               `t1`.`title` AS `title`,
               `t1`.`menu` AS `menu`,
               `t1`.`menu_name` AS `menuName`,
               `t1`.`min_order_price` AS `minOrderPrice`,
               `t1`.`order_price` AS `orderPrice`,
               `t1`.`delivery_price` AS `deliveryPrice`,
               `t1`.`order_time` AS `orderTime`,
               `t1`.`restaurant` AS `restaurant`,
               `t1`.`pickup_time` AS `pickupTime`,
               `t1`.`address_postal` AS `addressPostal`,
               `t1`.`address_primary` AS `addressPrimary`,
               `t1`.`address_secondary` AS `addressSecondary`,
               `t1`.`content` AS `content`,
               `t1`.`nickname` AS `nickname`,
               `t1`.`created_at` AS `createdAt`,
               `t1`.`updated_at` AS `updatedAt`,
               `t1`.`view` AS `view`
        FROM `kkirikkiri`.`articles` AS `t1`
        WHERE `t1`.`board_id` = #{boardId}
        ORDER BY `t1`.`id` DESC
        LIMIT #{boardPage.rowCount}
        OFFSET #{boardPage.dbOffset}
    </select>
<!--    검색 목록-->
    <select id="selectAllByBoardSearch" resultType="com.lsb.kkirikkiri.vos.ArticleVo">
        SELECT `t1`.`id` AS `id`,
               `t1`.`board_id` AS `boardId`,
               `t1`.`title` AS `title`,
               `t1`.`menu` AS `menu`,
               `t1`.`menu_name` AS `menuName`,
               `t1`.`min_order_price` AS `minOrderPrice`,
               `t1`.`order_price` AS `orderPrice`,
               `t1`.`delivery_price` AS `deliveryPrice`,
               `t1`.`order_time` AS `orderTime`,
               `t1`.`restaurant` AS `restaurant`,
               `t1`.`pickup_time` AS `pickupTime`,
               `t1`.`address_postal` AS `addressPostal`,
               `t1`.`address_primary` AS `addressPrimary`,
               `t1`.`address_secondary` AS `addressSecondary`,
               `t1`.`content` AS `content`,
               `t1`.`nickname` AS `nickname`,
               `t1`.`created_at` AS `createdAt`,
               `t1`.`updated_at` AS `updatedAt`,
               `t1`.`view` AS `view`
        FROM `kkirikkiri`.`articles` AS `t1`
        WHERE `t1`.`board_id` = #{boardSearch.id}
        <if test="boardSearch.by.equals('titleContent')">
            AND (`t1`.`title` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
            OR `t1`.`content` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
            OR `t1`.`nickname` LIKE CONCAT('%', #{boardSearch.keyword}, '%'))
        </if>
        <if test="boardSearch.by.equals('title')">
            AND `t1`.`title` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
        </if>
        <if test="boardSearch.by.equals('nickname')">
            AND `t1`.`nickname` = #{boardSearch.keyword}
        </if>
        ORDER BY `t1`.`id` DESC
        LIMIT #{boardPage.rowCount}
        OFFSET #{boardPage.dbOffset}
    </select>
<!--    페이지 계산용-->
    <select id="selectCountByBoardId" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `kkirikkiri`.`articles`
        WHERE `board_id` = #{boardId}
    </select>
<!--    검색 개수-->
    <select id="selectCountByBoardSearch" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `kkirikkiri`.`articles` AS `t1`
        WHERE `t1`.`board_id` = #{boardSearch.id}
        <if test="boardSearch.by.equals('titleContent')">
            AND (
            `t1`.`title` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
            OR `t1`.`content` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
            OR `t1`.`nickname` LIKE CONCAT(`%`, #{boardSearch.keyword}, `%`)
            )
        </if>

        <if test="boardSearch.by.equals('title')">
            AND `t1`.`title` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
        </if>

        <if test="boardSearch.by.equals('nickname')">
            AND `t1`.`nickname` = #{boardSearch.keyword}
        </if>
    </select>
</mapper>