<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsb.kkirikkiri.mappers.ArticleMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `kkirikkiri`.`articles` (`board_id`,
                                             `title`,
                                             `menu`,
                                             `menu_name`,
                                             `min_order_price`,
                                             `order_price`,
                                             `delivery_price`,
                                             `order_time`,
                                             `restaurant`,
                                             `pickup_time`,
                                             `address_postal`,
                                             `address_primary`,
                                             `address_secondary`,
                                             `content`,
                                             `created_at`,
                                             `updated_at`)
        VALUES (#{article.boardId},
                #{article.title},
                #{article.menu},
                #{article.menuName},
                #{article.minOrderPrice},
                #{article.orderPrice},
                #{article.deliveryPrice},
                #{article.orderTime},
                #{article.restaurant},
                #{article.pickupTime},
                #{article.addressPostal},
                #{article.addressPrimary},
                #{article.addressSecondary},
                #{article.content},
                #{article.createdAt},
                #{article.updatedAt})
    </insert>
    <update id="update">
        UPDATE `kkirikkiri`.`articles`
        SET `board_id`          = #{article.boardId},
            `title`             = #{article.title},
            `menu`              = #{article.menu},
            `min_order_price`   = #{article.minOrderPrice},
            `order_price`       = #{article.orderPrice},
            `delivery_price`    = #{article.deliveryPrice},
            `order_time`        = #{article.orderTime},
            `restaurant`        = #{article.restaurant},
            `pickup_time`       = #{article.pickupTime},
            `address_postal`    = #{article.addressPostal},
            `address_primary`   = #{article.addressPrimary},
            `address_secondary` = #{article.addressSecondary},
            `content`           = #{article.content},
            `created_at`        = #{article.createdAt},
            `updated_at`        = #{article.updatedAt},
            `view`              = #{article.view},
            `menu_name`         = #{article.menuName}
        WHERE `id` = #{article.id}
        LIMIT 1
    </update>
    <select id="selectById"
            resultType="com.lsb.kkirikkiri.entities.ArticleEntity">
        SELECT `id`                AS `id`,
               `board_id`          AS `boardId`,
               `title`             AS `title`,
               `menu`              AS `menu`,
               `menu_name`         AS `menuName`,
               `min_order_price`   AS `minOrderPrice`,
               `order_price`       AS `orderPrice`,
               `delivery_price`    AS `deliveryPrice`,
               `order_time`        AS `orderTime`,
               `restaurant`        AS `restaurant`,
               `pickup_time`       AS `pickupTime`,
               `address_postal`    AS `addressPostal`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `content`           AS `content`,
               `created_at`        AS `createdAt`,
               `updated_at`        AS `updatedAt`,
               `view`              AS `view`
        FROM `kkirikkiri`.`articles`
        WHERE id = #{id}
        LIMIT 1
    </select>
</mapper>