<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsb.kkirikkiri.mappers.ArticleMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `kkirikkiri`.`articles` (`board_id`,
                                             `user_id`,
                                             `participants_id`,
                                             `wallet_id`,
                                             `title`,
                                             `menu`,
                                             `menu_name`,
                                             `min_order_price`,
                                             `order_price`,
                                             `delivery_price`,
                                             `order_time`,
                                             `pickup_time`,
                                             `restaurant`,
                                             `point_lat`,
                                             `point_lng`,
                                             `address_primary`,
                                             `address_secondary`,
                                             `content`,
                                             `isShareChecked`,
                                             `isEntryChecked`,
                                             `created_at`,
                                             `updated_at`,
                                             `view`)
        VALUES (#{boardId},
                #{userId},
                #{participantsId},
                #{walletId},
                #{title},
                #{menu},
                #{menuName},
                #{minOrderPrice},
                #{orderPrice},
                #{deliveryPrice},
                #{orderTime},
                #{pickupTime},
                #{restaurant},
                #{pointLat},
                #{pointLng},
                #{addressPrimary},
                #{addressSecondary},
                #{content},
                #{shareChecked},
                #{entryChecked},
                #{createdAt},
                #{updatedAt},
                #{view})
    </insert>
    <update id="update">
        UPDATE `kkirikkiri`.`articles`
        SET `board_id`          = #{boardId},
            `user_id`           = #{userId},
            `participants_id`   = #{participantsId},
            `wallet_id`         = #{walletId},
            `title`             = #{title},
            `menu`              = #{menu},
            `menu_name`         = #{menuName},
            `min_order_price`   = #{minOrderPrice},
            `order_price`       = #{orderPrice},
            `delivery_price`    = #{deliveryPrice},
            `order_time`        = #{orderTime},
            `pickup_time`       = #{pickupTime},
            `restaurant`        = #{restaurant},
            `address_primary`   = #{addressPrimary},
            `address_secondary` = #{addressSecondary},
            `content`           = #{content},
            `isShareChecked`    = #{shareChecked},
            `isEntryChecked`    = #{entryChecked},
            `updated_at`        = #{updatedAt},
            `view`              = #{view}
        WHERE `id` = #{id}
        LIMIT 1
    </update>
<!--    조회수 증가-->
    <update id="incrementView" parameterType="int">
        UPDATE `kkirikkiri`.`articles`
        SET view = view + 1
        WHERE id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM `kkirikkiri`.`articles`
        WHERE `id` = #{id}
        LIMIT 1
    </delete>
    <select id="selectById"
            resultType="com.lsb.kkirikkiri.vos.ArticleVo">
        SELECT `t1`.`id`                AS `id`,
               `t1`.`board_id`          AS `boardId`,
               `t1`.`user_id`           AS `userId`,
               `t1`.`participants_id`   AS `participantsId`,
               `t1`.`wallet_id`         AS `walletId`,
               `t1`.`title`             AS `title`,
               `t1`.`menu`              AS `menu`,
               `t1`.`menu_name`         AS `menuName`,
               `t1`.`min_order_price`   AS `minOrderPrice`,
               `t1`.`order_price`       AS `orderPrice`,
               `t1`.`delivery_price`    AS `deliveryPrice`,
               `t1`.`order_time`        AS `orderTime`,
               `t1`.`pickup_time`       AS `pickupTime`,
               `t1`.`restaurant`        AS `restaurant`,
               `t1`.`point_lat`    AS `pointLat`,
               `t1`.`point_lng`    AS `pointLng`,
               `t1`.`address_primary`   AS `addressPrimary`,
               `t1`.`address_secondary` AS `addressSecondary`,
               `t1`.`content`           AS `content`,
               `t1`.`isShareChecked`    AS `ShareChecked`,
               `t1`.`isEntryChecked`    AS `EntryChecked`,
               `t1`.`created_at`        AS `createdAt`,
               `t1`.`updated_at`        AS `updatedAt`,
               `t1`.`view`              AS `view`,
               `t2`.`nickname`          AS `nickname`
        FROM `kkirikkiri`.`articles` AS `t1`
                 LEFT JOIN `kkirikkiri`.`users` AS `t2` ON `t2`.`email` = `t1`.`user_id`
        WHERE `t1`.`id` = #{id}
        LIMIT 1
    </select>
<!--    조회수 조회-->
    <select id="selectAllByBoardId" resultType="com.lsb.kkirikkiri.vos.ArticleVo">
        SELECT `t1`.`id`                AS `id`,
               `t1`.`board_id`          AS `boardId`,
               `t1`.`user_id`           AS `userId`,
               `t1`.`participants_id`   AS `participantsId`,
               `t1`.`wallet_id`         AS `walletId`,
               `t1`.`title`             AS `title`,
               `t1`.`menu`              AS `menu`,
               `t1`.`menu_name`         AS `menuName`,
               `t1`.`min_order_price`   AS `minOrderPrice`,
               `t1`.`order_price`       AS `orderPrice`,
               `t1`.`delivery_price`    AS `deliveryPrice`,
               `t1`.`order_time`        AS `orderTime`,
               `t1`.`pickup_time`       AS `pickupTime`,
               `t1`.`restaurant`        AS `restaurant`,
               `t1`.point_lat    AS `restaurantLat`,
               `t1`.point_lng    AS `restaurantLng`,
               `t1`.`address_primary`   AS `addressPrimary`,
               `t1`.`address_secondary` AS `addressSecondary`,
               `t1`.`content`           AS `content`,
               `t1`.`isShareChecked`    AS `shareChecked`,
               `t1`.`isEntryChecked`    AS `entryChecked`,
               `t1`.`created_at`        AS `createdAt`,
               `t1`.`updated_at`        AS `updatedAt`,
               `t1`.`view`              AS `view`,
               `t2`.`nickname` AS `nickname`,
               (SELECT `saved_filepath`
                FROM `kkirikkiri`.`files`
                WHERE `article_id` = `t1`.`id`
                ORDER BY `id` ASC
                LIMIT 1) AS `thumbnailPath`
        FROM `kkirikkiri`.`articles` AS `t1`
        LEFT JOIN `kkirikkiri`.`users` AS `t2` ON `t2`.`email` = `t1`.`user_id`
        WHERE `board_id` = #{boardId}
        ORDER BY `id` DESC
        LIMIT #{boardPage.rowCount}
        OFFSET #{boardPage.dbOffset}
    </select>
<!--    검색 목록-->
    <select id="selectAllByBoardSearch" resultType="com.lsb.kkirikkiri.vos.ArticleVo">
        SELECT `t1`.`id`                AS `id`,
               `t1`.`board_id`          AS `boardId`,
               `t1`.`user_id`           AS `userId`,
               `t1`.`participants_id`   AS `participantsId`,
               `t1`.`wallet_id`         AS `walletId`,
               `t1`.`title`             AS `title`,
               `t1`.`menu`              AS `menu`,
               `t1`.`menu_name`         AS `menuName`,
               `t1`.`min_order_price`   AS `minOrderPrice`,
               `t1`.`order_price`       AS `orderPrice`,
               `t1`.`delivery_price`    AS `deliveryPrice`,
               `t1`.`order_time`        AS `orderTime`,
               `t1`.`pickup_time`       AS `pickupTime`,
               `t1`.`restaurant`        AS `restaurant`,
               `t1`.`point_lat`    AS `pointLat`,
               `t1`.`point_lng`    AS `pointLng`,
               `t1`.`address_primary`   AS `addressPrimary`,
               `t1`.`address_secondary` AS `addressSecondary`,
               `t1`.`content`           AS `content`,
               `t1`.`isShareChecked`    AS `shareChecked`,
               `t1`.`isEntryChecked`    AS `entryChecked`,
               `t1`.`created_at`        AS `createdAt`,
               `t1`.`updated_at`        AS `updatedAt`,
               `t1`.`view`              AS `view`,
               `t2`.`nickname` AS `nickname`
        FROM `kkirikkiri`.`articles` AS `t1`
        LEFT JOIN `kkirikkiri`.`users` AS `t2` ON `t2`.`email` = `t1`.`user_id`
        WHERE `t1`.`board_id` = #{boardSearch.id}
        <if test="boardSearch.by.equals('titleContent')">
            AND (`t1`.`title` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
            OR `t1`.`content` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
            OR `t1`.`user_id` LIKE CONCAT('%', #{boardSearch.keyword}, '%'))
        </if>
        <if test="boardSearch.by.equals('title')">
            AND `t1`.`title` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
        </if>
        <if test="boardSearch.by.equals('userId')">
            AND `t2`.`nickname` LIKE CONCAT ('%', #{boardSearch.keyword}, '%')
        </if>
        ORDER BY `t1`.`id` DESC
        LIMIT #{boardPage.rowCount}
        OFFSET #{boardPage.dbOffset}
    </select>
<!--    페이지 계산용-->
    <select id="selectCountByBoardId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `kkirikkiri`.`articles`
        WHERE `board_id` = #{boardId}
    </select>
    <select id="selectCountByBoardIdAndMenu" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `kkirikkiri`.`articles`
        WHERE `board_id` = #{boardId}
        <if test="menu != null and menu != 'all'">
            AND `menu` = #{menu}
        </if>
    </select>
<!--    검색 개수-->
    <select id="selectCountByBoardSearch" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `kkirikkiri`.`articles` AS `t1`
        LEFT JOIN `kkirikkiri`.`users` AS `t2` ON `t2`.`email` = `t1`.`user_id`
        WHERE `t1`.`board_id` = #{boardSearch.id}
        <if test="boardSearch.by.equals('titleContent')">
            AND (
            `t1`.`title` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
            OR `t1`.`content` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
            OR `t1`.`user_id` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
            )
        </if>

        <if test="boardSearch.by.equals('title')">
            AND `t1`.`title` LIKE CONCAT('%', #{boardSearch.keyword}, '%')
        </if>

        <if test="boardSearch.by.equals('userId')">
            AND `t2`.`nickname` LIKE CONCAT ('%', #{boardSearch.keyword}, '%')
        </if>
    </select>
    <!-- 최신순 -->
    <select id="selectAllByBoardIdOrderByCreatedAt" resultType="com.lsb.kkirikkiri.vos.ArticleVo">
        SELECT `t1`.`id`                AS `id`,
               `t1`.`board_id`          AS `boardId`,
               `t1`.`user_id`           AS `userId`,
               `t1`.`participants_id`   AS `participantsId`,
               `t1`.`wallet_id`         AS `walletId`,
               `t1`.`title`             AS `title`,
               `t1`.`menu`              AS `menu`,
               `t1`.`menu_name`         AS `menuName`,
               `t1`.`min_order_price`   AS `minOrderPrice`,
               `t1`.`order_price`       AS `orderPrice`,
               `t1`.`delivery_price`    AS `deliveryPrice`,
               `t1`.`order_time`        AS `orderTime`,
               `t1`.`pickup_time`       AS `pickupTime`,
               `t1`.`restaurant`        AS `restaurant`,
               `t1`.`point_lat`    AS `pointLat`,
               `t1`.`point_lng`    AS `pointLng`,
               `t1`.`address_primary`   AS `addressPrimary`,
               `t1`.`address_secondary` AS `addressSecondary`,
               `t1`.`content`           AS `content`,
               `t1`.`isShareChecked`    AS `shareChecked`,
               `t1`.`isEntryChecked`    AS `entryChecked`,
               `t1`.`created_at`        AS `createdAt`,
               `t1`.`updated_at`        AS `updatedAt`,
               `t1`.`view`              AS `view`,
               `t2`.nickname            AS `nickname`,
               (SELECT `saved_filepath`
                FROM `kkirikkiri`.`files`
                WHERE `article_id` = `t1`.`id`
                ORDER BY `id` ASC
                LIMIT 1) AS `thumbnailPath`
        FROM `kkirikkiri`.`articles` AS `t1`
                 LEFT JOIN `kkirikkiri`.`users` AS `t2` ON `t2`.`email` = `t1`.`user_id`
        WHERE `board_id` = #{boardId}
        ORDER BY `t1`.`created_at` DESC
        LIMIT #{boardPageVo.dbOffset}, #{boardPageVo.rowCount}
    </select>
    <!-- 인기순 -->
    <select id="selectAllByBoardIdOrderByView" resultType="com.lsb.kkirikkiri.vos.ArticleVo">
        SELECT `t1`.`id`                AS `id`,
               `t1`.`board_id`          AS `boardId`,
               `t1`.`user_id`           AS `userId`,
               `t1`.`participants_id`   AS `participantsId`,
               `t1`.`wallet_id`         AS `walletId`,
               `t1`.`title`             AS `title`,
               `t1`.`menu`              AS `menu`,
               `t1`.`menu_name`         AS `menuName`,
               `t1`.`min_order_price`   AS `minOrderPrice`,
               `t1`.`order_price`       AS `orderPrice`,
               `t1`.`delivery_price`    AS `deliveryPrice`,
               `t1`.`order_time`        AS `orderTime`,
               `t1`.`pickup_time`       AS `pickupTime`,
               `t1`.`restaurant`        AS `restaurant`,
               `t1`.`point_lat`    AS `pointLat`,
               `t1`.`point_lng`    AS `pointLng`,
               `t1`.`address_primary`   AS `addressPrimary`,
               `t1`.`address_secondary` AS `addressSecondary`,
               `t1`.`content`           AS `content`,
               `t1`.`isShareChecked`    AS `shareChecked`,
               `t1`.`isEntryChecked`    AS `entryChecked`,
               `t1`.`created_at`        AS `createdAt`,
               `t1`.`updated_at`        AS `updatedAt`,
               `t1`.`view`              AS `view`,
               `t2`.`nickname`          AS `nickname`,
               (SELECT `saved_filepath`
                FROM `kkirikkiri`.`files`
                WHERE `article_id` = `t1`.`id`
                ORDER BY `id` ASC
                LIMIT 1) AS `thumbnailPath`
        FROM `kkirikkiri`.`articles` AS `t1`
                 LEFT JOIN `kkirikkiri`.`users` AS `t2` ON `t2`.`email` = `t1`.`user_id`
        WHERE `board_id` = #{boardId}
        ORDER BY `t1`.`view` DESC
        LIMIT #{boardPageVo.dbOffset}, #{boardPageVo.rowCount}
    </select>
    <select id="selectAllByOrderTime"
            resultType="com.lsb.kkirikkiri.entities.ArticleEntity">
        SELECT `id`                AS `id`,
               `board_id`          AS `boardId`,
               `user_id`           AS `userId`,
               `participants_id`   AS `participantsId`,
               `wallet_id`         AS `walletId`,
               `title`             AS `title`,
               `menu`              AS `menu`,
               `menu_name`         AS `menuName`,
               `min_order_price`   AS `minOrderPrice`,
               `order_price`       AS `orderPrice`,
               `delivery_price`    AS `deliveryPrice`,
               `order_time`        AS `orderTime`,
               `pickup_time`       AS `pickupTime`,
               `restaurant`        AS `restaurant`,
               `point_lat`    AS `pointLat`,
               `point_lng`    AS `pointLng`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `content`           AS `content`,
               `isShareChecked`    AS `shareChecked`,
               `isEntryChecked`    AS `entryChecked`,
               `created_at`        AS `createdAt`,
               `updated_at`        AS `updatedAt`,
               `view`              AS `view`
        FROM `kkirikkiri`.`articles`
        WHERE `order_time`
                  BETWEEN DATE_ADD(NOW(), INTERVAL 20 MINUTE)
                  AND DATE_ADD(NOW(), INTERVAL 21 MINUTE)
    </select>
    <select id="selectAllBoardIdAndMenuOrderByCreatedAt">
        SELECT `t1`.`id`                AS `id`,
               `t1`.`board_id`          AS `boardId`,
               `t1`.`user_id`           AS `userId`,
               `t1`.`participants_id`   AS `participantsId`,
               `t1`.`wallet_id`         AS `walletId`,
               `t1`.`title`             AS `title`,
               `t1`.`menu`              AS `menu`,
               `t1`.`menu_name`         AS `menuName`,
               `t1`.`min_order_price`   AS `minOrderPrice`,
               `t1`.`order_price`       AS `orderPrice`,
               `t1`.`delivery_price`    AS `deliveryPrice`,
               `t1`.`order_time`        AS `orderTime`,
               `t1`.`pickup_time`       AS `pickupTime`,
               `t1`.`restaurant`        AS `restaurant`,
               `t1`.`point_lat`    AS `pointLat`,
               `t1`.`point_lng`    AS `pointLng`,
               `t1`.`address_primary`   AS `addressPrimary`,
               `t1`.`address_secondary` AS `addressSecondary`,
               `t1`.`content`           AS `content`,
               `t1`.`isShareChecked`    AS `shareChecked`,
               `t1`.`isEntryChecked`    AS `entryChecked`,
               `t1`.`created_at`        AS `createdAt`,
               `t1`.`updated_at`        AS `updatedAt`,
               `t1`.`view`              AS `view`,
               `t2`.`nickname` AS `nickname`,
               (SELECT `saved_filepath`
                FROM `kkirikkiri`.`files`
                WHERE `article_id` = `t1`.`id`
                ORDER BY `id` ASC
                LIMIT 1) AS `thumbnailPath`
        FROM `kkirikkiri`.`articles` AS `t1`
        LEFT JOIN `kkirikkiri`.`users` AS `t2` ON `t2`.`email` = `t1`.`user_id`
        WHERE `board_id` = #{boardId}
          AND `t1`.`menu` = #{menu}
        ORDER BY `t1`.`created_at` DESC
        LIMIT #{boardPageVo.dbOffset}, #{boardPageVo.rowCount}
    </select>
    <select id="selectAllBoardIdAndMenuOrderByView">
        SELECT `t1`.`id`                AS `id`,
               `t1`.`board_id`          AS `boardId`,
               `t1`.`user_id`           AS `userId`,
               `t1`.`participants_id`   AS `participantsId`,
               `t1`.`wallet_id`         AS `walletId`,
               `t1`.`title`             AS `title`,
               `t1`.`menu`              AS `menu`,
               `t1`.`menu_name`         AS `menuName`,
               `t1`.`min_order_price`   AS `minOrderPrice`,
               `t1`.`order_price`       AS `orderPrice`,
               `t1`.`delivery_price`    AS `deliveryPrice`,
               `t1`.`order_time`        AS `orderTime`,
               `t1`.`pickup_time`       AS `pickupTime`,
               `t1`.`restaurant`        AS `restaurant`,
               `t1`.`point_lat`    AS `pointLat`,
               `t1`.`point_lng`    AS `pointLng`,
               `t1`.`address_primary`   AS `addressPrimary`,
               `t1`.`address_secondary` AS `addressSecondary`,
               `t1`.`content`           AS `content`,
               `t1`.`isShareChecked`    AS `shareChecked`,
               `t1`.`isEntryChecked`    AS `entryChecked`,
               `t1`.`created_at`        AS `createdAt`,
               `t1`.`updated_at`        AS `updatedAt`,
               `t1`.`view`              AS `view`,
               `t2`.`nickname` AS `nickname`,
               (SELECT `saved_filepath`
                FROM `kkirikkiri`.`files`
                WHERE `article_id` = `t1`.`id`
                ORDER BY `id` ASC
                LIMIT 1) AS `thumbnailPath`
        FROM `kkirikkiri`.`articles` AS `t1`
        LEFT JOIN `kkirikkiri`.`users` AS `t2` ON `t2`.`email` = `t1`.`user_id`
        WHERE `board_id` = #{boardId}
          AND `t1`.`menu` = #{menu}
        ORDER BY `t1`.`view` DESC
        LIMIT #{boardPageVo.dbOffset}, #{boardPageVo.rowCount}
    </select>
    <select id="selectImminentShareArticles" resultType="com.lsb.kkirikkiri.vos.ArticleVo">
        SELECT `t1`.`id`                AS `id`,
        `t1`.`board_id`          AS `boardId`,
        `t1`.`user_id`           AS `userId`,
        `t1`.`participants_id`   AS `participantsId`,
        `t1`.`wallet_id`         AS `walletId`,
        `t1`.`title`             AS `title`,
        `t1`.`menu`              AS `menu`,
        `t1`.`menu_name`         AS `menuName`,
        `t1`.`min_order_price`   AS `minOrderPrice`,
        `t1`.`order_price`       AS `orderPrice`,
        `t1`.`delivery_price`    AS `deliveryPrice`,
        `t1`.`order_time`        AS `orderTime`,
        `t1`.`pickup_time`       AS `pickupTime`,
        `t1`.`restaurant`        AS `restaurant`,
        `t1`.`point_lat`    AS `pointLat`,
        `t1`.`point_lng`    AS `pointLng`,
        `t1`.`address_primary`   AS `addressPrimary`,
        `t1`.`address_secondary` AS `addressSecondary`,
        `t1`.`content`           AS `content`,
        `t1`.`isShareChecked`    AS `shareChecked`,
        `t1`.`isEntryChecked`    AS `entryChecked`,
        `t1`.`created_at`        AS `createdAt`,
        `t1`.`updated_at`        AS `updatedAt`,
        `t1`.`view`              AS `view`
        FROM `kkirikkiri`.`articles`AS `t1`
        WHERE `board_id` = #{boardId}
        AND `t1`.`order_time` IS NOT NULL
        AND `t1`.`order_time` BETWEEN DATE_ADD(NOW(), INTERVAL 20 MINUTE) AND DATE_ADD(NOW(), INTERVAL 60 MINUTE)
        AND `point_lat` BETWEEN #{location.lat} - 3.0/111 AND #{location.lat} + 3.0/111
        AND `point_lng` BETWEEN #{location.lng} - (3.0 / (111 * COS(RADIANS(#{location.lat})))) AND #{location.lng} + (3.0 / (111 * COS(RADIANS(#{location.lat}))))
        AND ST_DISTANCE_SPHERE(POINT(`point_lng`,`point_lat`), POINT(#{location.lng}, #{location.lat})) &lt;= 3000
        <if test="menu != null and menu != '' and menu != 'all'">
            AND `menu` = #{menu}
        </if>
        ORDER BY `t1`.`order_time` ASC
        LIMIT 10
    </select>
    <select id="selectNoticeList" resultType="com.lsb.kkirikkiri.vos.ArticleVo">
        SELECT `t1`.`id`       AS `id`,
               `t1`.`board_id` AS `boardId`,
               `t1`.`user_id`  AS `userId`,
               `t1`.`title`    AS `title`,
               `t1`.`content`  AS `content`,
               `t1`.`created_at` AS `createdAt`,
               `t1`.`updated_at` AS `updatedAt`,
               `t1`.`view`     AS `view`,
               `t2`.`nickname` AS `nickname`
        FROM `kkirikkiri`.`articles` AS `t1`
                 LEFT JOIN `kkirikkiri`.`users` AS `t2` ON `t2`.`email` = `t1`.`user_id`
        WHERE `t1`.`board_id` = #{boardId}
        ORDER BY `t1`.`created_at` DESC
    </select>


</mapper>