<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsb.kkirikkiri.mappers.EmailTokenMapper">
    <insert id="insert">
        INSERT INTO `kkirikkiri`.`email_tokens` (`email`, `code`, `salt`, `is_verified`, `is_used`, `created_at`,`expires_at`)
        VALUES (#{emailToken.email},
                #{emailToken.code},
                #{emailToken.salt},
                #{emailToken.isVerified},
                #{emailToken.isUsed},
                #{emailToken.createdAt},
                #{emailToken.expiresAt})
    </insert>
    <update id="update">
        UPDATE `kkirikkiri`.`email_tokens`
        SET `is_verified` = #{emailToken.isVerified},
            `is_used`     = #{emailToken.isUsed},
            `created_at`  = #{emailToken.createdAt},
            `expires_at`  = #{emailToken.expiresAt}
        WHERE `email` = #{emailToken.email}
        AND `code` = #{emailToken.code}
        AND `salt` = #{emailToken.salt}
        LIMIT 1
    </update>
    <select id="select" resultType="com.lsb.kkirikkiri.entities.user.EmailTokenEntity">
        SELECT `email`       AS `email`,
               `code`        AS `code`,
               `salt`        AS `salt`,
               `is_verified` AS `isVerified`,
               `is_used`     AS `isUsed`,
               `created_at`  AS `createdAt`,
               `expires_at`  AS `expiresAt`
        FROM `kkirikkiri`.`email_tokens`
        WHERE `email` = #{email}
          AND `code` = #{code}
          AND `salt` = #{salt}
        LIMIT 1
    </select>
</mapper>