<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsb.kkirikkiri.mappers.StoreMapper">
    <insert id="insert">
        INSERT INTO `kkirikkiri`.`stores` (`email`, `business_number`, `store_name`, `business_type`,
                                           `address_primary`, `address_secondary`, `store_contact`,
                                           `operating_hours`, `license_url`, `report_card_url`,
                                           `approval_status`, `reject_reason`, `applied_at`, `approved_at`)
        VALUES (
                #{store.email},
                #{store.businessNumber},
                #{store.storeName},
                #{store.businessType},
                #{store.addressPrimary},
                #{store.addressSecondary},
                #{store.storeContact},
                #{store.operatingHours},
                #{store.licenseUrl},
                #{store.reportCardUrl},
                #{store.approvalStatus},
                #{store.rejectReason},
                #{store.appliedAt},
                #{store.approvedAt}
                )
    </insert>
</mapper>