<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsb.kkirikkiri.mappers.StoreMapper">
    <insert id="insert">
        INSERT INTO `kkirikkiri`.`stores` (`email`, `business_number`, `store_name`, `business_type`,`address_primary`, `address_secondary`, `store_contact`,`operating_hours`, `store_image_path`,`license_url`, `report_card_url`, `term_policy_at`, `term_privacy_at`, `term_third_party_at`, `term_business_verify_at`, `term_doc_submission_at`, `term_marketing_at`, `approval_status`, `reject_reason`, `applied_at`, `approved_at`)
        VALUES (
                #{store.email},
                #{store.businessNumber},
                #{store.storeName},
                #{store.businessType},
                #{store.addressPrimary},
                #{store.addressSecondary},
                #{store.storeContact},
                #{store.operatingHours},
                #{store.storeImagePath},
                #{store.licenseUrl},
                #{store.reportCardUrl},
                #{store.termPolicyAt},
                #{store.termPrivacyAt},
                #{store.termThirdPartyAt},
                #{store.termBusinessVerifyAt},
                #{store.termDocSubmissionAt},
                #{store.termMarketingAt},
                #{store.approvalStatus},
                #{store.rejectReason},
                #{store.appliedAt},
                #{store.approvedAt}
                )
    </insert>
    <update id="update">
        UPDATE `kkirikkiri`.`stores`
        SET `store_name` = #{store.storeName},
            `business_type` = #{store.businessType},
            `store_contact` = #{store.storeContact},
            `operating_hours` = #{store.operatingHours},
            `store_image_path` = #{store.profileImagePath},
            `address_primary` = #{store.addressPrimary},
            `license_url` = #{store.licenseUrl}
        WHERE `email` = #{store.email}
        LIMIT 1
    </update>
    <select id="selectByEmail" resultType="com.lsb.kkirikkiri.entities.user.StoreEntity">
        SELECT `email`             AS `email`,
               `business_number`   AS `businessNumber`,
               `store_name`        AS `storeName`,
               `business_type`     AS `businessType`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `store_contact`     AS `storeContact`,
               `operating_hours`   AS `operatingHours`,
               `store_image_path`  AS `storeImagePath`,
               `license_url`       AS `licenseUrl`,
               `report_card_url`   AS `reportCardUrl`,
               `approval_status`   AS `approvalStatus`,
               `reject_reason`     AS `rejectReason`,
               `applied_at`        AS `appliedAt`,
               `approved_at`       AS `approvedAt`
        FROM `kkirikkiri`.`stores`
        WHERE `email` = #{email}
        LIMIT 1
    </select>
</mapper>