<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsb.kkirikkiri.mappers.UserMapper">
    <insert id="insert">
        INSERT INTO `kkirikkiri`.`users` (
            `email`, `password`,`nickname`, `name`, `birth`, `telecom`, `contact`, `address_primary`, `address_secondary`, `profile_image_path`, `is_admin`, `is_boss`, `status`, `term_policy_at`, `term_privacy_at`,`term_location_at`, `term_marketing_at`, `created_at`, `updated_at`, `last_login_at`, `social_type_code`
        ) VALUES (
                     #{user.email},
                     #{user.password},
                     #{user.nickname},
                     #{user.name},
                     #{user.birth},
                     #{user.telecom},
                     #{user.contact},
                     #{user.addressPrimary},
                     #{user.addressSecondary},
                     #{user.profileImagePath},
                     #{user.isAdmin},
                     #{user.isBoss},
                     #{user.status},
                     #{user.termPolicyAt},
                     #{user.termPrivacyAt},
                     #{user.termLocationAt},
                     #{user.termMarketingAt},
                     #{user.createdAt},
                     #{user.updatedAt},
                     #{user.lastLoginAt},
                     #{user.socialTypeCode}
                 )
    </insert>
    <insert id="insertSocialUser" parameterType="com.lsb.kkirikkiri.entities.user.UserEntity">
        INSERT INTO `kkirikkiri`.`users` (`email`, `nickname`, `profile_image_path`, `social_type_code`, `social_id`, `status`, `created_at`, `updated_at`, `last_login_at`)
        VALUES (
                #{user.email},
                #{user.nickname},
                #{user.profileImagePath},
                #{user.socialTypeCode},
                #{user.socialId},
                #{user.status},
                NOW(),
                NOW(),
                NOW()
               )
    </insert>
    <update id="update">
        UPDATE `kkirikkiri`.`users`
        SET <if test="user.nickname != null">
                `nickname` = #{user.nickname},
            </if>
            <if test="user.password != null">
                `password` = #{user.password},
            </if>
            <if test="user.telecom">
                `telecom` = #{user.telecom},
            </if>
            <if test="user.contact != null">
                `contact` = #{user.contact},
            </if>
            <if test="user.addressPrimary != null">
                `address_primary` = #{user.addressPrimary},
            </if>
            <if test="user.addressSecondary != null">
                `address_secondary` = #{user.addressSecondary},
            </if>
            <if test="user.profileImagePath != null">
                `profile_image_path` = #{user.profileImagePath},
            </if>
            `updated_at` = now(),
            <if test="user.lastLoginAt != null">
            `last_login_at` = #{user.lastLoginAt},
            </if>
            <if test="user.status != null">
            `status` = #{user.status}
            </if>
        WHERE `email` = #{user.email}
        LIMIT 1
    </update>
    <update id="updatePassword">
        UPDATE `kkirikkiri`.`users`
        SET `password` = #{password}
        WHERE `email` = #{email}
    </update>
    <update id="updateUserExtraInfo">
        UPDATE `kkirikkiri`.`users`
        SET `name` = #{userName},
            `nickname`  = #{nickname},
            `birth`  = #{birthday},
            `telecom`   = #{telecom},
            `contact`   = #{contact},
            `address_primary`   = #{addressPrimary},
            `address_secondary` = #{addressSecondary}
        WHERE `email` = #{email}
        LIMIT 1
    </update>
    <update id="updateSocialInfo">
        UPDATE `kkirikkiri`.`users`
        SET `social_type_code` = #{socialTypeCode},
            `social_id` = #{socialId},
            `updated_at` = NOW()
        WHERE `email` = #{email}
    </update>

    <delete id="deleteUserByEmail">
        DELETE
        FROM `kkirikkiri`.`users`
        WHERE `email` = #{email}
    </delete>
    <select id="selectByEmail" resultType="com.lsb.kkirikkiri.entities.user.UserEntity">
        SELECT `email`             AS `email`,
               `password`          AS `password`,
               `nickname`          AS `nickname`,
               `name`              AS `name`,
               `birth`             AS `birth`,
               `telecom`           AS `telecom`,
               `contact`           AS `contact`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `is_admin`          AS `isAdmin`,
               `is_boss`           AS `isBoss`,
               `status`            AS `status`,
               `term_policy_at`    AS `termPolicyAt`,
               `term_privacy_at`   AS `termPrivacyAt`,
               `term_location_at`  AS `termLocaitonAt`,
               `term_marketing_at` AS `termMarketingAt`,
               `created_at`        AS `createdAt`,
               `updated_at`        AS `updatedAt`,
               `last_login_at`     AS `lastLoginAt`,
               `social_type_code`  AS `socialTypeCode`
        FROM `kkirikkiri`.`users`
        WHERE `email` = #{email}
        LIMIT 1
    </select>
    <select id="selectByNickname" resultType="com.lsb.kkirikkiri.entities.user.UserEntity">
        SELECT `email`             AS `email`,
               `password`          AS `password`,
               `nickname`          AS `nickname`,
               `name`              AS `name`,
               `birth`             AS `birth`,
               `telecom`           AS `telecom`,
               `contact`           AS `contact`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `is_admin`          AS `isAdmin`,
               `is_boss`           AS `isBoss`,
               `status`            AS `status`,
               `term_policy_at`    AS `termPolicyAt`,
               `term_privacy_at`   AS `termPrivacyAt`,
               `term_location_at`  AS `termLocaitonAt`,
               `term_marketing_at` AS `termMarketingAt`,
               `created_at`        AS `createdAt`,
               `updated_at`        AS `updatedAt`,
               `last_login_at`     AS `lastLoginAt`,
               `social_type_code`  AS `socialTypeCode`
        FROM `kkirikkiri`.`users`
        WHERE `nickname` = #{nickname}
        LIMIT 1
    </select>
    <select id="selectEmailByContact" resultType="java.lang.String">
        SELECT `email`
        FROM `kkirikkiri`.`users`
        WHERE `contact` = #{contact}
        LIMIT 1
    </select>
    <select id="findBySocialId" resultType="com.lsb.kkirikkiri.entities.user.UserEntity">
        SELECT `email`             AS `email`,
               `password`          AS `password`,
               `nickname`          AS `nickname`,
               `name`              AS `name`,
               `birth`             AS `birth`,
               `telecom`           AS `telecom`,
               `contact`           AS `contact`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `is_admin`          AS `isAdmin`,
               `is_boss`           AS `isBoss`,
               `status`            AS `status`,
               `term_policy_at`    AS `termPolicyAt`,
               `term_privacy_at`   AS `termPrivacyAt`,
               `term_location_at`  AS `termLocaitonAt`,
               `term_marketing_at` AS `termMarketingAt`,
               `created_at`        AS `createdAt`,
               `updated_at`        AS `updatedAt`,
               `last_login_at`     AS `lastLoginAt`,
               `social_type_code`  AS `socialTypeCode`
        FROM `kkirikkiri`.`users`
        WHERE `social_type_code` = #{socialTypeCode}
        AND `social_id` = #{socialId}
    </select>
    <select id="findByEmail" resultType="com.lsb.kkirikkiri.entities.user.UserEntity">
        SELECT `email`             AS `email`,
               `password`          AS `password`,
               `nickname`          AS `nickname`,
               `name`              AS `name`,
               `birth`             AS `birth`,
               `telecom`           AS `telecom`,
               `contact`           AS `contact`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `is_admin`          AS `isAdmin`,
               `is_boss`           AS `isBoss`,
               `status`            AS `status`,
               `term_policy_at`    AS `termPolicyAt`,
               `term_privacy_at`   AS `termPrivacyAt`,
               `term_location_at`  AS `termLocaitonAt`,
               `term_marketing_at` AS `termMarketingAt`,
               `created_at`        AS `createdAt`,
               `updated_at`        AS `updatedAt`,
               `last_login_at`     AS `lastLoginAt`,
               `social_type_code`  AS `socialTypeCode`
        FROM `kkirikkiri`.`users`
        WHERE `nickname` = #{nickname}
        LIMIT 1
    </select>
</mapper>