<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 목록</title>
    <link rel="stylesheet" href="/assets/styles/common.css" type="text/css">
    <link rel="stylesheet" href="/assets/styles/fragments.css" type="text/css">
    <link rel="stylesheet" href="/assets/styles/home.css" type="text/css">
    <link rel="stylesheet" href="/board/assets/styles/list.css" type="text/css">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=92c55423409f256ecb1626e5dbd939a0&libraries=services"></script>
    <script defer src="/assets/scripts/dialog.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/common.js" type="text/javascript"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.isLoggedIn = /*[[${session.sessionUser != null}]]*/ false;
        window.userStatus = /*[[${session.sessionUser?.status}]]*/ null;
        window.needsInfo = /*[[${needsInfo}]]*/ false;
        /*]]>*/
    </script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<th:block th:replace="~{/fragments/common.html :: sideMypage"></th:block>
<main id="main">
    <div class="error not-found" th:if="${board == null}">
        <h1 class="title">게시판</h1>
        <span class="message">존재하지 않는 게시판입니다. 주소를 다시 확인해 주세요.</span>
        <button name="back" type="button" data-object="button" data-color="concept">돌아가기</button>
    </div>
    <div class="content-wrapper" th:if="${board != null}">
        <div class="header">
            <h1 class="title">게시판</h1>
            <div class="sub-row">
                <h2 class="board">
    <span th:switch="${board.id}">
        <span th:case="'share'">🍽️ </span>
        <span th:case="'promote'">📢 </span>
        <span th:case="'notice'">📌 </span>
    </span>
                    <span th:text="${board.displayText}"></span>
                </h2>
                <div class="right-group">
                    <div class="menu-filter" th:if="${board.id == 'share'}">
                        <select id="menuSelect"
                                name="menuFilter"
                                th:onchange="|location.href='@{/board/list(id=${board.id}, sort = ${boardPageVo.sort})}' + (this.value ? '&menu=' + this.value : '')|">

                            <option value="all"
                                    th:selected="${selectedMenu == 'all'}">
                                전체
                            </option>

                            <option value="chicken"
                                    th:selected="${selectedMenu == 'chicken'}">
                                치킨
                            </option>

                            <option value="pizza"
                                    th:selected="${selectedMenu == 'pizza'}">
                                피자
                            </option>

                            <option value="hamburger"
                                    th:selected="${selectedMenu == 'hamburger'}">
                                햄버거
                            </option>

                            <option value="stew"
                                    th:selected="${selectedMenu == 'stew'}">
                                찜/탕
                            </option>

                            <option value="japanese-food"
                                    th:selected="${selectedMenu == 'japanese-food'}">
                                회/일식
                            </option>

                            <option value="chinese-food"
                                    th:selected="${selectedMenu == 'chinese-food'}">
                                중식
                            </option>

                            <option value="western-food"
                                    th:selected="${selectedMenu == 'western-food'}">
                                양식
                            </option>

                            <option value="dessert"
                                    th:selected="${selectedMenu == 'dessert'}">
                                디저트
                            </option>

                            <option value="etc"
                                    th:selected="${selectedMenu == 'etc'}">
                                그 외
                            </option>

                        </select>
                    </div>
                    <div class="filter" th:if="${board.id == 'share' || board.id == 'promote'}">
                        <a class="link"
                           th:href="@{/board/list(id=${board.id}, sort='latest', menu=${selectedMenu})}"
                           th:classappend="${boardPageVo.sort == 'latest'} ? ' -active'">
                            최신순
                        </a>
                        <a class="link"
                           th:href="@{/board/list(id=${board.id}, sort='view', menu=${selectedMenu})}"
                           th:classappend="${boardPageVo.sort == 'view'} ? ' -active'">
                            인기순
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table board-table">
            <thead class="section">
            <tr class="row">
                <th class="cell -stretch" scope="col">제목</th>
                <th class="cell" scope="col">작성자</th>
                <th class="cell" scope="col">조회수</th>
                <th class="cell" scope="col">날짜</th>
            </tr>
            </thead>
            <tbody class="section">
            <tr class="row"
                th:each="article : ${articles}"
                th:onclick="|location.href='@{/article/{boardType}(boardType=${board.id}, id=${article.id})}'|">

                <td class="cell title" th:classappend="${article.thumbnailPath == null} ? 'no-thumbnail'">
                    <div class="title-inner">
                        <div class="thumbnail" th:if="${article.thumbnailPath != null}">
                            <img th:src="${article.thumbnailPath}" alt="썸네일">
                        </div>
                        <div class="text">
                            <span class="link" th:text="${article.title}"></span>

                            <!-- 공구 게시판일 때 -->
                            <p class="preview" th:if="${board.id == 'share'}">
                                주문: <span th:text="${#temporals.format(article.orderTime, 'HH:mm')}"></span>
                                &nbsp;|&nbsp;
                                모임: <span th:text="${#temporals.format(article.pickupTime, 'HH:mm')}"></span>
                            </p>

                            <!-- 그 외 게시판일 때 -->
                            <p class="preview" th:if="${board.id != 'share'}"
                               th:text="${#strings.abbreviate(article.content, 50)}"></p>
                        </div>
                    </div>
                </td>
                <td class="cell nickname" th:text="${article.nickname}"></td>
                <td class="cell view" th:text="${article.view}"></td>
                <td class="cell created_at"
                    th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd')}"></td>
            </tr>
            <tr class="row empty-row"
                th:if="${articles == null || #arrays.isEmpty(articles)}">
                <td colspan="4" class="cell empty">
                    작성된 글이 없습니다.
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <th:block th:replace="~{/fragments/common.html :: quick(${board})}"></th:block>

    <form novalidate class="search-form" name="searchForm">
        <input hidden name="id" type="hidden" th:value="${board.getId()}">
        <label data-object="label" data-name="searchByLabel">
            <select required name="by" data-object="input" data-component="label.field">
                <option selected value="titleContent"
                        th:selected="${boardSearchVo.by == null || boardSearchVo.by == 'titleContent'}">제목 + 내용
                </option>
                <option value="title"
                        th:selected="${boardSearchVo.by == 'title'}">제목
                </option>
                <option value="userId"
                        th:selected="${boardSearchVo.by == 'userId'}">작성자
                </option>
            </select>
        </label>
        <label data-object="label">
            <input maxlength="25" minlength="0" name="keyword" placeholder="검색어를 입력해 주세요." data-object="input"
                   data-component="label.field"
                   th:value="${boardSearchVo.getKeyword() != null ? boardSearchVo.getKeyword() : ''}">
        </label>
        <button class="button" type="submit" data-object="button" data-color="concept">검색</button>
    </form>
    <div class="page-container" th:if="${boardSearchVo.getBy() == null || boardSearchVo.getKeyword() == null}">
        <div class="group" th:if="${boardPageVo.requestPage > boardPageVo.minPage}">
            <a class="link" th:href="@{'/board/list' (id = ${board.id},
            page = ${boardPageVo.minPage}, sort = ${boardPageVo.sort}, menu = ${selectedMenu})}">&lt;&lt;</a>
            <a class="link"
               th:if="${boardPageVo.requestPage > boardPageVo.minPage}"
               th:href="@{'/board/list' (id = ${board.id}, page = ${boardPageVo.requestPage - 1}, sort = ${boardPageVo.sort}, menu = ${selectedMenu})}">&lt;</a>
        </div>
        <div class="group">
            <a th:each="page : ${#numbers.sequence(boardPageVo.startPage, boardPageVo.endPage)}"
               th:text="${page}"
               th:href="@{'/board/list' (id = ${board.id}, page = ${page}, sort = ${boardPageVo.sort}, menu = ${selectedMenu})}"
               th:class="${page == boardPageVo.requestPage ? 'link -selected' : 'link'}"></a>
        </div>
        <div class="group" th:if="${boardPageVo.requestPage < boardPageVo.maxPage}">
            <a class="link"
               th:href="@{'/board/list' (id = ${board.id}, page = ${boardPageVo.requestPage + 1}, sort = ${boardPageVo.sort}, menu = ${selectedMenu})}">&gt;</a>
            <a class="link"
               th:href="@{'/board/list' (id = ${board.id}, page = ${boardPageVo.maxPage}, sort = ${boardPageVo.sort}, menu = ${selectedMenu})}">&gt;&gt;</a>
        </div>
    </div>
    <div class="page-container" th:if="${boardSearchVo.getBy() != null || boardSearchVo.getKeyword() != null}">
        <div class="group" th:if="${boardPageVo.requestPage > boardPageVo.minPage}">
            <a class="link"
               th:href="@{'/board/list' (id = ${board.id}, page = ${boardPageVo.minPage}, by = ${boardSearchVo.by}, keyword = ${boardSearchVo.keyword})}">&lt;&lt;</a>
            <a class="link"
               th:href="@{'/board/list' (id = ${board.id}, page = ${boardPageVo.requestPage - 1}, by = ${boardSearchVo.by}, keyword = ${boardSearchVo.keyword})}">&lt;</a>
        </div>
        <div class="group">
            <a th:each="page : ${#numbers.sequence(boardPageVo.startPage, boardPageVo.endPage)}"
               th:text="${page}"
               th:href="@{'/board/list' (id = ${board.id}, page = ${page}, by = ${boardSearchVo.by}, keyword = ${boardSearchVo.keyword})}"
               th:class="${page == boardPageVo.requestPage ? 'link -selected' : 'link'}"></a>
        </div>
        <div class="group" th:if="${boardPageVo.requestPage < boardPageVo.maxPage}">
            <a class="link"
               th:href="@{'/board/list' (id = ${board.id}, page = ${boardPageVo.maxPage}, by = ${boardSearchVo.by}, keyword = ${boardSearchVo.keyword})}">&gt;&gt;</a>
            <a class="link"
               th:href="@{'/board/list' (id = ${board.id}, page = ${boardPageVo.requestPage + 1}, by = ${boardSearchVo.by}, keyword = ${boardSearchVo.keyword})}">&gt;</a>
        </div>
    </div>

</main>
</body>
</html>