@use "sass:color";
@import "def";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  @include flex(column, flex-start, stretch);
  height: 100%;
  background-color: #FDFDFD;
  color: #4a4a4a;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 0.9875rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  overflow: hidden scroll;
  position: relative;
}

button, input, select, textarea {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  outline: none;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: 0;
  margin-inline: 0;
}

ol, ul {
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
}

::-webkit-scrollbar {
  display: none;
}