body:has(> #top > .image-wrapper > .input:checked) > #my {
  opacity: 1;
}
body:has(> #top > .image-wrapper > .input:checked) > #my > .container {
  pointer-events: auto;
  transform: translateX(0%);
}

body:has(> #top > .image-wrapper > .input:checked) > #main,
body:has(> #top > .image-wrapper > .input:checked) > #quick {
  pointer-events: none;
}

body:has(> #dialog[data-visible]) {
  overflow: hidden;
}

#dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(191.25, 191.25, 191.25, 0.5333333333);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 200ms;
  transition-property: opacity, pointer-events;
  z-index: 15;
}
#dialog[data-visible] {
  opacity: 1;
  pointer-events: auto;
}
#dialog > .modal {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.0625rem;
  justify-content: flex-start;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 16rem;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  color: inherit;
  font: inherit;
  overflow: hidden;
  position: fixed;
  transform: translate(-50%, -50%);
}
#dialog > .modal > .title {
  background-color: rgb(229.5, 229.5, 229.5);
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.75rem;
}
#dialog > .modal > .content {
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 300;
  padding: 2rem 1rem;
}
#dialog > .modal > .button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  flex: 0 0 auto;
  padding: 0.75rem;
}
#dialog > .modal > .button-container > .button {
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
}
#dialog > .modal > .button-container > .button:last-child {
  background-color: rgb(172, 194.4324324324, 255);
}
#dialog > .modal > .button-container > .button:first-child {
  background-color: rgb(229.5, 229.5, 229.5);
}

#top {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  background-color: #E9EFFF;
  color: #3A6FFF;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
}
#top > .image-wrapper {
  line-height: 0;
  cursor: pointer;
}
#top > .image-wrapper > .input {
  display: none;
}
#top > .link {
  top: 50%;
  left: 50%;
  color: #3A6FFF;
  font: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  transform: translate(-50%, -50%);
}
#top > .button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}
#top > .button-container > .button {
  height: 2rem;
  border: 0.0625rem solid #3A6FFF;
  border-radius: 0.25rem;
  padding: 0.375rem;
}
#top > .button-container > .button > .link {
  color: #3A6FFF;
}
#top > .button-container > .bell {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 0.0625rem solid #3A6FFF;
  border-radius: 999rem;
  margin-left: 1.5rem;
  position: relative;
}
#top > .button-container > .bell > .label {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}
#top > .button-container > .bell > .label:has(> .input[name=bell]:checked) + .message-list {
  opacity: 1;
  pointer-events: auto;
  transform: translate(2.5rem, calc(100% + 2rem));
}
#top > .button-container > .bell > .message-list {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
  bottom: 0;
  right: 0;
  width: 25rem;
  height: 30rem;
  background-color: #E9EFFF;
  border-bottom: none;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  color: #4a4a4a;
  opacity: 0;
  overflow-y: auto;
  padding: 0 0.5rem;
  pointer-events: none;
  position: absolute;
  transform: translate(2.5rem, calc(100% + 1rem));
  transition-duration: 250ms;
  transition-property: opacity, pointer-events, transform;
  transition-timing-function: linear;
}
#top > .button-container > .bell > .message-list::-webkit-scrollbar {
  display: none;
}
#top > .button-container > .bell > .message-list > .title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
  text-align: center;
}
#top > .button-container > .bell > .message-list > .item {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  padding: 1rem 1.375rem;
}
#top > .button-container > .bell > .message-list > .item > .title-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  flex: 0 0 auto;
}
#top > .button-container > .bell > .message-list > .item > .title-container > .sender {
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 500;
}
#top > .button-container > .bell > .message-list > .item > .title-container > .created-at {
  flex: 0 0 auto;
  font-size: 0.75rem;
  font-weight: 300;
}
#top > .button-container > .bell > .message-list > .item > .content {
  flex: 1 1 auto;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375;
}

#my {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(205, 205, 205, 0.5333333333);
  overflow: hidden;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition-duration: 150ms;
  transition-property: opacity;
  z-index: 3;
}
#my > .container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #E9EFFF;
  padding: 6.25rem 1.25rem 1rem 1.25rem;
  position: absolute;
  pointer-events: none;
  transform: translateX(-30%);
  transition-duration: 150ms;
  transition-property: pointer-events, transform;
}
#my > .container > .box {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  padding: 1.5rem 1.75rem;
}
#my > .container > .box.user {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-around;
  position: relative;
}
#my > .container > .box.user > .image-container {
  border: 0.0625rem solid #E9EFFF;
  border-radius: 999rem;
  overflow: hidden;
}
#my > .container > .box.user > .info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  justify-content: flex-stert;
}
#my > .container > .box.user > .info > .nickname {
  color: #232323;
  font-size: 1.375rem;
  font-weight: 700;
}
#my > .container > .box.user > .info > .address {
  color: #ababab;
  font-size: 0.75rem;
  font-weight: 300;
}
#my > .container > .box.user > .info > .rank {
  color: inherit;
  font-size: 0.875rem;
  font-weight: 300;
}
#my > .container > .box.user > .link {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 80%;
  align-self: center;
  background-color: #D2DEFF;
  border-radius: 1rem;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.375rem 0;
}
#my > .container > .box.point-container > .title {
  align-self: flex-start;
}
#my > .container > .box > .title {
  color: inherit;
  font-size: 1.25rem;
  font-weight: 500;
}
#my > .container > .box > .content {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: center;
  width: 100%;
  align-self: center;
  color: inherit;
}
#my > .container > .box > .content:has(> .charge) {
  justify-content: flex-end;
}
#my > .container > .box > .content > .value {
  font-size: 1.75rem;
  font-weight: 700;
}
#my > .container > .box > .content > .caption {
  font-size: 1.5rem;
  font-weight: 400;
}
#my > .container > .box > .content > .charge {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  background-color: #3A6FFF;
  border-radius: 999rem;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.375rem 1rem;
  margin-left: 1rem;
}
#my > .container > .box > .content > .message {
  font-size: 1rem;
  font-weight: 300;
}
#my > .container > .-stretch {
  flex: 1 1 auto;
}
#my > .container > .link {
  align-self: center;
  color: inherit;
  font-size: 0.875rem;
  font-weight: 300;
  text-decoration: none;
}

/*# sourceMappingURL=fragments.css.map */
