@import "def";

body:has(> #top > .image-wrapper > .input:checked) > #my {
  opacity: 1;
  pointer-events: auto;

  > .container {
    pointer-events: auto;
    transform: translateX(0%);
  }
}

body:has(> #top > .image-wrapper > .input:checked) > #main,
body:has(> #top > .image-wrapper > .input:checked) > #quick {
  pointer-events: none;
}

body:has(> #dialog[data-visible]) {
  overflow: hidden;
}

#dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darken(#FFFFFF88, 25%);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 200ms;
  transition-property: opacity, pointer-events;
  z-index: 30;

  &[data-visible] {
    opacity: 1;
    pointer-events: auto;
  }

  > .modal {
    @include flex(column, flex-start, stretch, 0.0625rem);
    top: 50%;
    left: 50%;
    width: 30rem;
    height: 16rem;
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    color: inherit;
    font: inherit;
    overflow: hidden;
    position: fixed;
    transform: translate(-50%, -50%);

    > .title {
      background-color: darken(#FFFFFF, 10%);
      flex: 0 0 auto;
      font-size: 1.125rem;
      font-weight: 500;
      padding: 0.75rem;
    }

    > .content {
      flex: 1 1 auto;
      font-size: 1rem;
      font-weight: 300;
      padding: 2rem 1rem;
    }

    > .button-container {
      @include flex(row, flex-end, center, 1rem);
      flex: 0 0 auto;
      padding: 0.75rem;

      > .button {
        border-radius: 0.25rem;
        cursor: pointer;
        padding: 0.75rem 1.25rem;

        &:last-child {
          background-color: lighten(#4678FF, 20%);
        }

        &:first-child {
          background-color: darken(#FFFFFF, 10%);
        }
      }
    }
  }
}

@include tablet {
  #dialog {
    > .modal {
      @include flex(column, flex-start, stretch, 0.0625rem);
      width: 25rem;
      height: 15rem;

      > .title {
        font-size: 1rem;
        padding: 0.625rem;
      }

      > .content {
        font-size: 1rem;
        padding: 1.75rem 0.875rem;
      }

      > .button-container {
        padding: 0.625rem;

        > .button {
          padding: 0.625rem 1rem;
        }
      }
    }
  }
}

@include mobile {
  #dialog {
    > .modal {
      @include flex(column, flex-start, stretch, 0.0625rem);
      width: 20rem;
      height: 15rem;

      > .title {
        font-size: 0.875rem;
        padding: 0.375rem;
      }

      > .content {
        font-size: 0.875rem;
        padding: 0.75rem 0.375rem;
      }

      > .button-container {
        padding: 0.375rem;

        > .button {
          padding: 0.375rem 0.75rem;
        }
      }
    }
  }
}

#top {
  @include flex(row, space-between, center);
  background-color: #4678FF;
  border: 0.0625rem solid #3A6FFF;
  color: #E9EFFF;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;

  > .image-wrapper {
    line-height: 0;
    cursor: pointer;

    > .input {
      display: none;
    }
  }

  > .link {
    top: 50%;
    left: 50%;
    color: inherit;
    font: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  > .button-container {
    @include flex(row, flex-start, center, 0.5rem);

    > .button {
      height: 2rem;
      border: 0.0625rem solid #E9EFFF;
      border-radius: 0.25rem;
      padding: 0.375rem;

      > .link {
        color: inherit;
      }
    }

    > .bell {
      @include flex(column, center, center);
      width: 2rem;
      height: 2rem;
      border: 0.0625rem solid #E9EFFF;
      border-radius: 999rem;
      cursor: pointer;
      margin-left: 1rem;
      position: relative;

      > .total {
        @include flex(row, center, center);
        top: -0.375rem;
        right: -0.375rem;
        height: 1.125rem;
        aspect-ratio: 1 /1;
        background-color: red;
        border-radius: 999rem;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1;
        position: absolute;

        &.hidden {
          display: none;
        }
      }

      > .label {
        @include flex(column, center, center);
        width: 2rem;
        aspect-ratio: 1/1;
        border-radius: 999rem;
        overflow: hidden;

        > .image {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      > .label:has(> .input[name="bell"]:checked) + .message-list {
        opacity: 1;
        pointer-events: auto;
        transform: translate(2.5rem, calc(100% + 2rem));
      }

      > .message-list {
        @include flex(column, flex-start, stretch, 0.25rem);
        bottom: 0;
        right: 0;
        width: 25rem;
        height: 30rem;
        background-color: #E9EFFF;
        border: 0.0625rem solid #A5BDFF;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        color: #4a4a4a;
        opacity: 0;
        overflow-y: auto;
        padding: 0 0.5rem;
        pointer-events: none;
        position: absolute;
        transform: translate(2.5rem, calc(100% + 1rem));
        transition-duration: 250ms;
        transition-property: opacity, pointer-events, transform;
        transition-timing-function: linear;

        &::-webkit-scrollbar {
          display: none;
        }

        > .title {
          font-size: 1.5rem;
          font-weight: 700;
          padding: 1rem 0;
          text-align: center;
        }

        > .item {
          @include flex(column, center, stretch, 0.75rem);
          background-color: #FFFFFF;
          border-radius: 0.25rem;
          padding: 1rem 1.375rem;

          > .title-container {
            @include flex(row, center, center);
            flex: 0 0 auto;

            > .sender {
              flex: 1 1 auto;
              font-size: 1rem;
              font-weight: 500;
            }

            > .created-at {
              flex: 0 0 auto;
              font-size: 0.75rem;
              font-weight: 300;
            }
          }

          > .content {
            flex: 1 1 auto;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.375;
          }
        }
      }
    }
  }
}

@include tablet {
  #top {
    @include flex(row, space-between, center);
    background-color: #4678FF;
    color: #E9EFFF;
    padding: 1rem 1.25rem;
    position: relative;
    z-index: 5;

    > .image-wrapper {
      line-height: 0;
      cursor: pointer;

      > .input {
        display: none;
      }

      > .image {
        width: 1.75rem;
        height: 1.75rem;
      }
    }

    > .link {
      top: 50%;
      left: 50%;
      color: inherit;
      font: inherit;
      font-size: 1.5rem;
      font-weight: 700;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    > .button-container{
      display: flex;
    }
  }
}

@include mobile {
  #top {
    padding: 0.875rem 1rem;

    > .image-wrapper {
      line-height: 0;
      cursor: pointer;

      > .input {
        display: none;
      }

      > .image {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    > .link {
      top: 50%;
      left: 50%;
      color: inherit;
      font: inherit;
      font-size: 1.25rem;
      font-weight: 700;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    > .button-container {
      @include flex(row, flex-start, center, 0.5rem);

      > .button {
        height: unset;
        padding: 0.125rem;
        font-size: 0.75rem;
      }

      > .bell {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0;

        > .total {
          @include flex(row, center, center);
          top: -0.25rem;
          right: -0.25rem;
          height: 0.75rem;
          font-size: 0.5rem;

        }

        > .label {
          width: 1.25rem;

          > .image {
            width: 1rem;
            height: 1rem;
          }
        }

        > .label:has(> .input[name="bell"]:checked) + .message-list {
          opacity: 1;
          pointer-events: auto;
          transform: translate(1rem, calc(100% + 1rem));
        }

        > .message-list {
          @include flex(column, flex-start, stretch, 0.25rem);
          width: 1500%;
          padding: 0 0.5rem;
          transform: translate(1rem, calc(100% + 0.5rem));

          > .title {
            font-size: 1rem;
            padding: 0.75rem 0;
          }

          > .item {
            @include flex(column, center, stretch, 0.5rem);
            padding: 0.75rem 1rem;

            > .title-container {

              > .sender {
                font-size: 0.875rem;
              }

              > .created-at {
                font-size: 0.75rem;
              }
            }

            > .content {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}

#my {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cdcdcd88;
  overflow: hidden;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition-duration: 150ms;
  transition-property: opacity;
  z-index: 3;

  > .container {
    @include flex(column, flex-start, stretch, 1rem);
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #E9EFFF;
    border-right: 0.0625rem solid #FFFFFF;
    padding: 6.25rem 1.25rem 1rem 1.25rem;
    position: absolute;
    pointer-events: none;
    transform: translateX(-30%);
    transition-duration: 150ms;
    transition-property: pointer-events, transform;
    z-index: 2;

    > .box {
      @include flex(column, flex-start, stretch, 0.5rem);
      background-color: #FFFFFF;
      border-radius: 0.5rem;
      padding: 1.5rem 1.75rem;

      &.user {
        @include flex(column, space-around, center, 0.5rem);
        position: relative;

        > .current {
          @include flex(row, center, center);
          top: 0;
          right: 0;
          width: 1.75rem;
          height: 1.75rem;
          border: 0.0625rem solid #E9EFFF;
          border-radius: 0.25rem;
          cursor: pointer;
          position: absolute;
          transform: translate(-50%, 50%);

          &:hover {
            > .caption {
              opacity: 1;
              pointer-events: auto;
              transform: translateY(calc(100% + 0.25rem));
            }
          }

          > .caption {
            @include flex(row, center, center);
            bottom: 0;
            width: 2.5rem;
            background-color: #E9EFFF;
            font-size: 0.75rem;
            font-weight: 500;
            opacity: 0;
            padding: 0.125rem;
            position: absolute;
            pointer-events: none;
            transform: translateY(100%);
            transition-duration: 500ms;
            transition-property: opacity, pointer-events, transform;
          }
        }

        > .image-container {
          border: 0.0625rem solid #E9EFFF;
          border-radius: 999rem;
          overflow: hidden;
        }

        > .info {
          @include flex(column, flex-stert, center, 0.125rem);

          > .nickname {
            color: #232323;
            font-size: 1.375rem;
            font-weight: 700;
          }

          > .address {
            color: #ababab;
            font-size: 0.75rem;
            font-weight: 300;
          }

          > .rank {
            color: inherit;
            font-size: 0.875rem;
            font-weight: 300;
          }
        }

        > .link {
          @include flex(row, center, center);
          width: 80%;
          align-self: center;
          background-color: #4678FF;
          border-radius: 1rem;
          color: #FFFFFF;
          font-size: 1rem;
          font-weight: 500;
          padding: 0.375rem 0;
        }
      }

      &.point-container > .title{
        align-self: flex-start;
      }

      > .title {
        color: inherit;
        font-size: 1.25rem;
        font-weight: 500;
      }

      > .content {
        @include flex(row, center, center, 0.25rem);
        width: 100%;
        align-self: center;
        color: inherit;

        &:has(> .charge) {
          justify-content: flex-end;
        }

        > .value {
          font-size: 1.75rem;
          font-weight: 700;
        }

        > .caption {
          font-size: 1.5rem;
          font-weight: 400;
        }

        > .charge {
          @include flex(row, center, center);
          background-color: #3A6FFF;
          border-radius: 999rem;
          color: #FFFFFF;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 500;
          padding: 0.375rem 1rem;
          margin-left: 1rem;
        }

        > .message {
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }

    > .-stretch {
      flex: 1 1 auto;
    }

    > .link {
      align-self: center;
      color: inherit;
      font-size: 0.875rem;
      font-weight: 300;
      text-decoration: none;
    }
  }

  > .charge-container {
    @include flex(column, flex-start, stretch, 1rem);
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #E9EFFF;
    color: inherit;
    font: inherit;
    opacity: 0;
    padding: 6.25rem 1.25rem 1rem 1.25rem;
    pointer-events: none;
    position: absolute;
    transform: translateX(0%);
    transition-property: opacity, pointer-events, transform;
    transition-duration: 250ms;
    z-index: 1;

    &[data-visible]{
      opacity: 1;
      pointer-events: auto;
      transform: translateX(100%);
    }

    > .cost-container {
      @include flex(column, center, stretch, 1rem);
      position: relative;

      > .close {
        top: 0;
        right: 0;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        position: absolute;

        > .image {
          width: 1rem;
          height: 1rem;
        }
      }

      > .title {
        align-self: center;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem 0;
      }

      > .cost-wrapper {
        @include flex(row, center, center);
        background-color: #FFFFFF;
        border-radius: 0.5rem;
        cursor: pointer;
        padding: 1rem 0.875rem;

        &:has(> .radio:checked) {
          background-color: #A5BDFF;

          > .input-wrapper > .white-paper {
            background-color: #FFFFFF;
            pointer-events: auto;
          }
        }

        > .radio {
          display: none;
        }

        > .value {
          font-size: 1.125rem;
          font-weight: 500;
        }

        > .input-wrapper {
          @include flex(row, center, center);
          width: 16rem;
          background-color: #FFFFFF;
          //border: 0.0625rem solid #A5BDFF;
          border-radius: 0.5rem;
          flex: 1 1 auto;
          line-height: 0;

          > .white-paper {
            background-color: #EAEAEA;
            border-radius: 0.5rem;
            flex: 1 1 auto;
            line-height: 1.25;
            padding: 0.5rem 0.5rem;
            pointer-events: none;

            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
          }
        }
      }
    }

    > .button {
      background-color: #3A6FFF;
      border-radius: 0.5rem;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 500;
      margin-top: 2rem;
      padding: 1rem 0;
    }
  }
}

@include tablet {
  #my {
    > .container {
      @include flex(column, flex-start, stretch, 0.5rem);
      width: 45%;
      padding: 4.625rem 0.5rem 0.75rem 0.5rem;
    }
  }
}

@include mobile {
  #my {
    > .container {
      @include flex(column, flex-start, stretch, 0.5rem);
      width: 90%;
      padding: 3.875rem 0.5rem 0.75rem 0.5rem;
    }
  }
}

#quick {
  @include flex(column, flex-start, center, 0.5rem);
  bottom: 4rem;
  right: 4rem;
  position: fixed;

  > .item {
    @include flex(column, center, center);
    width: 4rem;
    height: 4rem;
    background-color: #E9EFFF;
    border-radius: 999rem;
    color: #4a4a4a;
    font: inherit;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;

    &:hover {
      background-color: #4678FF;
      color: #FFFFFF;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      opacity: 0;
      pointer-events: none;
      transition-duration: 500ms;
      transition-property: transform, opacity, pointer-events;
      transition-timing-function: ease-in-out;
    }

    &:nth-child(1) {
      transform: translateY(calc(400% + 2rem));
    }

    &:nth-child(2) {
      transform: translateY(calc(300% + 1.5rem));
    }

    &:nth-child(3) {
      transform: translateY(calc(200% + 1rem));
    }

    &:nth-child(4) {
      transform: translateY(calc(100% + 0.5rem));
    }

    &:nth-child(1):has(~ .item > .label > .input:checked),
    &:nth-child(2):has(~ .item > .label > .input:checked),
    &:nth-child(3):has(~ .item > .label > .input:checked),
    &:nth-child(4):has(~ .item > .label > .input:checked) {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }

    > .link {
      @include flex(row, center, center);
      width: 100%;
      height: 100%;
      color: #3A6FFF;
      cursor: pointer;
      font: inherit;
      font-size: 0.875rem;
      font-weight: 500;
    }

    > .label {
      @include flex(column, center, center);
      width: 100%;
      height: 100%;

      > .input {
        display: none;
      }
    }
  }
}