body:has(> #top > .image-wrapper > .input:checked) > #my {
  opacity: 1;
  pointer-events: auto;
}
body:has(> #top > .image-wrapper > .input:checked) > #my > .container {
  pointer-events: auto;
  transform: translateX(0%);
}

body:has(> #top > .image-wrapper > .input:checked) > #main,
body:has(> #top > .image-wrapper > .input:checked) > #quick {
  pointer-events: none;
}

body:has(> #dialog[data-visible]) {
  overflow: hidden;
}

#dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(191.25, 191.25, 191.25, 0.5333333333);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 200ms;
  transition-property: opacity, pointer-events;
  z-index: 15;
}
#dialog[data-visible] {
  opacity: 1;
  pointer-events: auto;
}
#dialog > .modal {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.0625rem;
  justify-content: flex-start;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 16rem;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  color: inherit;
  font: inherit;
  overflow: hidden;
  position: fixed;
  transform: translate(-50%, -50%);
}
#dialog > .modal > .title {
  background-color: rgb(229.5, 229.5, 229.5);
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.75rem;
}
#dialog > .modal > .content {
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 300;
  padding: 2rem 1rem;
}
#dialog > .modal > .button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  flex: 0 0 auto;
  padding: 0.75rem;
}
#dialog > .modal > .button-container > .button {
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
}
#dialog > .modal > .button-container > .button:last-child {
  background-color: rgb(172, 194.4324324324, 255);
}
#dialog > .modal > .button-container > .button:first-child {
  background-color: rgb(229.5, 229.5, 229.5);
}

#top {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  background-color: #4678FF;
  border: 0.0625rem solid #3A6FFF;
  color: #E9EFFF;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
}
#top > .image-wrapper {
  line-height: 0;
  cursor: pointer;
}
#top > .image-wrapper > .input {
  display: none;
}
#top > .link {
  top: 50%;
  left: 50%;
  color: inherit;
  font: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  transform: translate(-50%, -50%);
}
#top > .button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}
#top > .button-container > .button {
  height: 2rem;
  border: 0.0625rem solid #E9EFFF;
  border-radius: 0.25rem;
  padding: 0.375rem;
}
#top > .button-container > .button > .link {
  color: inherit;
}
#top > .button-container > .bell {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 0.0625rem solid #E9EFFF;
  border-radius: 999rem;
  cursor: pointer;
  margin-left: 1rem;
  position: relative;
}
#top > .button-container > .bell > .total {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  top: -0.375rem;
  right: -0.375rem;
  height: 1.125rem;
  aspect-ratio: 1/1;
  background-color: red;
  border-radius: 999rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  position: absolute;
}
#top > .button-container > .bell > .total.hidden {
  display: none;
}
#top > .button-container > .bell > .label {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}
#top > .button-container > .bell > .label:has(> .input[name=bell]:checked) + .message-list {
  opacity: 1;
  pointer-events: auto;
  transform: translate(2.5rem, calc(100% + 2rem));
}
#top > .button-container > .bell > .message-list {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
  bottom: 0;
  right: 0;
  width: 25rem;
  height: 30rem;
  background-color: #E9EFFF;
  border: 0.0625rem solid #A5BDFF;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  color: #4a4a4a;
  opacity: 0;
  overflow-y: auto;
  padding: 0 0.5rem;
  pointer-events: none;
  position: absolute;
  transform: translate(2.5rem, calc(100% + 1rem));
  transition-duration: 250ms;
  transition-property: opacity, pointer-events, transform;
  transition-timing-function: linear;
}
#top > .button-container > .bell > .message-list::-webkit-scrollbar {
  display: none;
}
#top > .button-container > .bell > .message-list > .title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
  text-align: center;
}
#top > .button-container > .bell > .message-list > .item {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  padding: 1rem 1.375rem;
}
#top > .button-container > .bell > .message-list > .item > .title-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  flex: 0 0 auto;
}
#top > .button-container > .bell > .message-list > .item > .title-container > .sender {
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 500;
}
#top > .button-container > .bell > .message-list > .item > .title-container > .created-at {
  flex: 0 0 auto;
  font-size: 0.75rem;
  font-weight: 300;
}
#top > .button-container > .bell > .message-list > .item > .content {
  flex: 1 1 auto;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375;
}

@media (max-width: 767px) {
  #top {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    background-color: #4678FF;
    color: #E9EFFF;
    padding: 0.875rem 1rem;
    position: relative;
    z-index: 10;
  }
  #top > .image-wrapper {
    line-height: 0;
    cursor: pointer;
  }
  #top > .image-wrapper > .input {
    display: none;
  }
  #top > .image-wrapper > .image {
    width: 1.5rem;
    height: 1.5rem;
  }
  #top > .link {
    top: 50%;
    left: 50%;
    color: inherit;
    font: inherit;
    font-size: 1.25rem;
    font-weight: 700;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  #top > .button-container {
    display: none;
  }
}
#my {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(205, 205, 205, 0.5333333333);
  overflow: hidden;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition-duration: 150ms;
  transition-property: opacity;
  z-index: 3;
}
#my > .container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #E9EFFF;
  border-right: 0.0625rem solid #FFFFFF;
  padding: 6.25rem 1.25rem 1rem 1.25rem;
  position: absolute;
  pointer-events: none;
  transform: translateX(-30%);
  transition-duration: 150ms;
  transition-property: pointer-events, transform;
  z-index: 2;
}
#my > .container > .box {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  padding: 1.5rem 1.75rem;
}
#my > .container > .box.user {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-around;
  position: relative;
}
#my > .container > .box.user > .image-container {
  border: 0.0625rem solid #E9EFFF;
  border-radius: 999rem;
  overflow: hidden;
}
#my > .container > .box.user > .info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  justify-content: flex-stert;
}
#my > .container > .box.user > .info > .nickname {
  color: #232323;
  font-size: 1.375rem;
  font-weight: 700;
}
#my > .container > .box.user > .info > .address {
  color: #ababab;
  font-size: 0.75rem;
  font-weight: 300;
}
#my > .container > .box.user > .info > .rank {
  color: inherit;
  font-size: 0.875rem;
  font-weight: 300;
}
#my > .container > .box.user > .link {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 80%;
  align-self: center;
  background-color: #4678FF;
  border-radius: 1rem;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.375rem 0;
}
#my > .container > .box.point-container > .title {
  align-self: flex-start;
}
#my > .container > .box > .title {
  color: inherit;
  font-size: 1.25rem;
  font-weight: 500;
}
#my > .container > .box > .content {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: center;
  width: 100%;
  align-self: center;
  color: inherit;
}
#my > .container > .box > .content:has(> .charge) {
  justify-content: flex-end;
}
#my > .container > .box > .content > .value {
  font-size: 1.75rem;
  font-weight: 700;
}
#my > .container > .box > .content > .caption {
  font-size: 1.5rem;
  font-weight: 400;
}
#my > .container > .box > .content > .charge {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  background-color: #3A6FFF;
  border-radius: 999rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.375rem 1rem;
  margin-left: 1rem;
}
#my > .container > .box > .content > .message {
  font-size: 1rem;
  font-weight: 300;
}
#my > .container > .-stretch {
  flex: 1 1 auto;
}
#my > .container > .link {
  align-self: center;
  color: inherit;
  font-size: 0.875rem;
  font-weight: 300;
  text-decoration: none;
}
#my > .charge-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #E9EFFF;
  color: inherit;
  font: inherit;
  opacity: 0;
  padding: 6.25rem 1.25rem 1rem 1.25rem;
  pointer-events: none;
  position: absolute;
  transform: translateX(0%);
  transition-property: opacity, pointer-events, transform;
  transition-duration: 250ms;
  z-index: 1;
}
#my > .charge-container[data-visible] {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(100%);
}
#my > .charge-container > .cost-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  position: relative;
}
#my > .charge-container > .cost-container > .close {
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  position: absolute;
}
#my > .charge-container > .cost-container > .close > .image {
  width: 1rem;
  height: 1rem;
}
#my > .charge-container > .cost-container > .title {
  align-self: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
}
#my > .charge-container > .cost-container > .cost-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem 0.875rem;
}
#my > .charge-container > .cost-container > .cost-wrapper:has(> .radio:checked) {
  background-color: #A5BDFF;
}
#my > .charge-container > .cost-container > .cost-wrapper:has(> .radio:checked) > .input-wrapper > .white-paper {
  background-color: #FFFFFF;
  pointer-events: auto;
}
#my > .charge-container > .cost-container > .cost-wrapper > .radio {
  display: none;
}
#my > .charge-container > .cost-container > .cost-wrapper > .value {
  font-size: 1.125rem;
  font-weight: 500;
}
#my > .charge-container > .cost-container > .cost-wrapper > .input-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 16rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  flex: 1 1 auto;
  line-height: 0;
}
#my > .charge-container > .cost-container > .cost-wrapper > .input-wrapper > .white-paper {
  background-color: #EAEAEA;
  border-radius: 0.5rem;
  flex: 1 1 auto;
  line-height: 1.25;
  padding: 0.5rem 0.5rem;
  pointer-events: none;
}
#my > .charge-container > .cost-container > .cost-wrapper > .input-wrapper > .white-paper::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#my > .charge-container > .button {
  background-color: #3A6FFF;
  border-radius: 0.5rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2rem;
  padding: 1rem 0;
}

@media (max-width: 767px) {
  #my > .container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
    width: 90%;
    padding: 3.875rem 0.5rem 0.75rem 0.5rem;
  }
}
#quick {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  bottom: 4rem;
  right: 4rem;
  position: fixed;
}
#quick > .item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #E9EFFF;
  border-radius: 999rem;
  color: #4a4a4a;
  font: inherit;
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
}
#quick > .item:hover {
  background-color: #4678FF;
  color: #FFFFFF;
}
#quick > .item:nth-child(1), #quick > .item:nth-child(2), #quick > .item:nth-child(3), #quick > .item:nth-child(4) {
  opacity: 0;
  pointer-events: none;
  transition-duration: 500ms;
  transition-property: transform, opacity, pointer-events;
  transition-timing-function: ease-in-out;
}
#quick > .item:nth-child(1) {
  transform: translateY(calc(400% + 2rem));
}
#quick > .item:nth-child(2) {
  transform: translateY(calc(300% + 1.5rem));
}
#quick > .item:nth-child(3) {
  transform: translateY(calc(200% + 1rem));
}
#quick > .item:nth-child(4) {
  transform: translateY(calc(100% + 0.5rem));
}
#quick > .item:nth-child(1):has(~ .item > .label > .input:checked), #quick > .item:nth-child(2):has(~ .item > .label > .input:checked), #quick > .item:nth-child(3):has(~ .item > .label > .input:checked), #quick > .item:nth-child(4):has(~ .item > .label > .input:checked) {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
#quick > .item > .link {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #3A6FFF;
  cursor: pointer;
  font: inherit;
  font-size: 0.875rem;
  font-weight: 500;
}
#quick > .item > .label {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#quick > .item > .label > .input {
  display: none;
}

/*# sourceMappingURL=fragments.css.map */
