@keyframes load {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
#main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  width: 60%;
  align-self: center;
  background-color: #ffffff;
  color: inherit;
  font: inherit;
  padding: 2rem 2.5rem;
  min-height: calc(100vh - 3.75rem);
}

@media (min-width: 768px) and (max-width: 1024px) {
  #main {
    width: 80%;
    padding: 3rem 1.5rem 2rem 1.5rem;
  }
}
@media (max-width: 767px) {
  #main {
    width: 100%;
    padding: 2rem 1rem;
  }
}
#main > .search {
  width: 100%;
  min-height: 25rem;
}
#main > .search > .menu-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  border: #E9EFFF solid 0.0625rem;
  border-radius: 0.75rem;
}
#main > .search > .menu-container > .label {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 100%;
  border-radius: 0.75rem;
  border: none;
}
#main > .search > .menu-container > .label:hover {
  background-color: #E9EFFF;
}
#main > .search > .menu-container > .label:has(> [name=menuFilter]:checked) {
  background-color: #E9EFFF;
}
#main > .search > .menu-container > .label > .menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
}
#main > .search > .menu-container > .label > .menu > .icon {
  width: 100%;
}
#main > .search > .menu-container > .label > .caption {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  font-size: 0.9375rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #main > .search {
    min-height: 14rem;
  }
  #main > .search > .menu-container {
    gap: 0.5rem;
  }
}
@media (max-width: 767px) {
  #main > .search {
    min-height: 10rem;
  }
  #main > .search > .menu-container {
    gap: 0.25rem;
  }
}
#main > .title {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-self: center;
  color: #A5BDFF;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.5rem 0;
  transition-duration: 1000ms;
  transition-property: color;
  transition-timing-function: linear;
}
#main > .title.-active {
  color: #3A6FFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #main > .title {
    font-size: 1.75rem;
    padding: 2rem 0;
  }
}
@media (max-width: 767px) {
  #main > .title {
    font-size: 1.5rem;
  }
}
#main > .group {
  width: 100%;
}
#main > .group > .list {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 0 0.75rem;
}
#main > .group > .list > .loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  height: 100%;
  background-color: #E9EFFF;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
}
#main > .group > .list > .loading > .image {
  animation: load 2500ms linear 0ms infinite;
}
#main > .group > .list > .loading.-hidden {
  display: none;
}
#main > .group > .list > .empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  padding: 6rem 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  text-align: center;
}
#main > .group > .list > .empty.-hidden {
  display: none;
}
#main > .group > .list > .empty > .caption > .link {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.1875rem;
}
#main > .group > .list > .row {
  display: table-row;
  background-color: #f9faff;
  border-radius: 0.75rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
#main > .group > .list > .row:hover {
  background-color: #eef2ff;
}
#main > .group > .list > .row > .image-container {
  display: table-cell;
  padding: 1.5rem 0.5rem 1.5rem 1rem;
  vertical-align: middle;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
#main > .group > .list > .row > .image-container > .image {
  width: 5rem;
  height: 5rem;
  border-radius: 0.75rem;
  object-fit: cover;
  background-color: transparent;
}
#main > .group > .list > .row > .content-container {
  display: table-cell;
  padding: 1.5rem 0.75rem 1.5rem 0.25rem;
  vertical-align: middle;
  width: 100%;
}
#main > .group > .list > .row > .content-container > .title {
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  color: #212121;
  margin-bottom: 0.4rem;
}
#main > .group > .list > .row > .content-container > .content {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: flex-start;
}
#main > .group > .list > .row > .content-container > .content > .item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
}
#main > .group > .list > .row > .content-container > .content > .item > .title {
  font-size: 0.9rem;
  font-weight: 500;
  color: #999;
}
#main > .group > .list > .row > .content-container > .content > .item > .caption {
  font-size: 0.85rem;
  font-weight: 300;
  color: #666;
}
#main > .group > .list > .row > .member-container {
  display: table-cell;
  padding: 1.5rem 0.5rem 1.5rem 0.75rem;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-size: 0.85rem;
  color: #999;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #main > .group > .list > .row > .content-container > .content {
    gap: 1rem;
  }
  #main > .group > .list > .row > .content-container > .content > .item > .title {
    font-size: 0.75rem;
  }
  #main > .group > .list > .row > .content-container > .content > .item > .caption {
    font-size: 0.75rem;
  }
}
@media (max-width: 767px) {
  #main > .group > .list {
    border-spacing: 0 0.5rem;
  }
  #main > .group > .list > .row > .image-container {
    padding: 1rem 0.5rem 1rem 1rem;
  }
  #main > .group > .list > .row > .image-container > .image {
    width: 2.5rem;
    height: 2.5rem;
  }
  #main > .group > .list > .row > .content-container {
    padding: 1rem 0.5rem;
  }
  #main > .group > .list > .row > .content-container > .title {
    font-size: 0.9rem;
  }
  #main > .group > .list > .row > .content-container > .content > .item:not(:first-child) {
    display: none;
  }
  #main > .group > .list > .row > .member-container {
    padding: 1rem 0.75rem;
    font-size: 0.7rem;
  }
}
#quick-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  bottom: 4rem;
  right: 4rem;
  position: fixed;
}
#quick-nav > .item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #4678FF;
  border-radius: 999rem;
  color: #FFFFFF;
  font: inherit;
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
}
#quick-nav > .item:hover {
  background-color: #3A6FFF;
}
#quick-nav > .item:nth-child(1), #quick-nav > .item:nth-child(2), #quick-nav > .item:nth-child(3) {
  opacity: 0;
  pointer-events: none;
  transition-duration: 500ms;
  transition-property: transform, opacity, pointer-events;
  transition-timing-function: ease-in-out;
}
#quick-nav > .item:nth-child(1) {
  transform: translateY(calc(300% + 1.5rem));
  z-index: 1;
}
#quick-nav > .item:nth-child(2) {
  transform: translateY(calc(200% + 1rem));
  z-index: 2;
}
#quick-nav > .item:nth-child(3) {
  transform: translateY(calc(100% + 0.5rem));
  z-index: 3;
}
#quick-nav > .item:last-child {
  z-index: 4;
}
#quick-nav > .item:nth-child(1):has(~ .item > .label > .input:checked), #quick-nav > .item:nth-child(2):has(~ .item > .label > .input:checked), #quick-nav > .item:nth-child(3):has(~ .item > .label > .input:checked) {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
#quick-nav > .item > .link {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-size: 0.875rem;
  font-weight: 500;
}
#quick-nav > .item > .label {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#quick-nav > .item > .label > .input {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #quick-nav {
    bottom: 2rem;
    right: 0.625rem;
  }
  #quick-nav > .item {
    width: 4rem;
    height: 4rem;
    background-color: rgba(70, 120, 255, 0.5333333333);
    font-size: 0.875rem;
  }
  #quick-nav > .item:hover {
    background-color: rgba(70, 120, 255, 0.3333333333);
  }
}
@media (max-width: 767px) {
  #quick-nav {
    bottom: 1rem;
    right: 1rem;
  }
  #quick-nav > .item {
    width: 3rem;
    height: 3rem;
    background-color: rgba(70, 120, 255, 0.3333333333);
    font-size: 0.875rem;
  }
  #quick-nav > .item:hover {
    background-color: rgba(70, 120, 255, 0.3333333333);
  }
}

/*# sourceMappingURL=home.css.map */
