@use "sass:color";
@import "def";

#top {
  @include flex(row, space-between, center);
  background-color: #A5BDFF;
  padding: 1rem 3rem;

  > .image-wrapper {
    line-height: 0;
  }
}

#main {
  @include flex(column, flex-start, stretch, 2rem);
  width: 60%;
  align-self: center;
  color: inherit;
  font: inherit;
  padding: 2rem 0;
}

#main > .search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  > .menu-container {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    > .menu {
      @include flex(column, flex-start, center);
      width: 100%;
      height: 100%;
      border: 0.0625rem solid #E9EFFF;
      padding: 0.375rem 0;
      position: relative;

      &:hover {
        background-color: #E9EFFF;
      }

      > .icon {
        width: 100%;
      }

      > .caption {
        font-size: 0.75rem;
        font-weight: 700;
      }
    }
  }

  > .search {
    @include flex(column, center, center, 1.25rem);
    background-color: #E9EFFF;

    > .title {
      font-size: 1.625rem;
      font-weight: 500;
    }

    > .label {
      @include flex(row, center, center);
      position: relative;

      > .image-wrapper {
        top: 0;
        left: 0;
        line-height: 0;
        margin-left: 0.25rem;
        position: absolute;

        > .image {
          width: 2rem;
          height: 2rem;
        }
      }

      > .input {
        width: 20rem;
        height: 2rem;
        background-color: #ffffff;
        border-bottom: 0.0625rem solid #A5BDFF;
        border-radius: 999rem;
        padding-left: 2.5rem;
      }
    }
  }
}

#main > .group {
  background-color: #FFFFFF;

  > .list {
    width: 100%;
    @include flex(column, flex-start, stretch, 0.25rem);

    > .row {
      @include flex(row, flex-start, stretch, 0.0625rem);
      height: 6rem;

      > .image-container {
        height: 100%;
        background-color: #E9EFFF;

        > .image {
          height: 100%;
        }
      }

      > .content-container {
        @include flex(column, space-around, flex-start);
        background-color: #E9EFFF;
        flex: 1 1 auto;
        padding: 0.5rem 1.25rem;

        > .title {
          color: inherit;
          font: inherit;
          font-size: 1.125rem;
          font-weight: 700;
        }

        > .content {
          @include flex(row, flex-start, center, 1.25rem);


          > .item {
            @include flex(row, flex-start, center, 0.25rem);

            > .title {
              font-size: 0.875rem;
              font-weight: 500;
            }

            > .caption {
              font-size: 0.875rem;
              font-weight: 300;
            }
          }
        }
      }

      > .member-container {
        @include flex(row, flex-start, center);
        align-self: stretch;
        background-color: #E9EFFF;
        padding: 0.5rem 1.25rem;
      }
    }
  }
}