@use "sass:color";
@import "def";

#top {
  @include flex(row, space-between, center);
  background-color: #D2DEFF;
  padding: 1rem 3rem;

  > .image-wrapper {
    line-height: 0;
  }
}

#main {
  @include flex(column, flex-start, stretch, 2rem);
  width: 60%;
  align-self: center;
  color: inherit;
  font: inherit;
  padding: 2rem 0;

}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;


  > .menu-container {
    width: 100%;
    height: 100%;
    background-color: darken(#A5BDFF, 10%);
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    > .menu {
      width: 8rem;
      height: 8rem;
      background-color: whitesmoke;

      > .icon {
        width: 3rem;
        border-radius: 999rem;
      }
    }

  }

  > .gps-container {
    width: 100%;
    height: 100%;
    background-color: lighten(#A5BDFF, 10%);
  }
}
