body:has(> #dialog[data-visible]) {
  overflow: hidden;
}

#dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(191.25, 191.25, 191.25, 0.5333333333);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition-duration: 200ms;
  transition-property: opacity, pointer-events;
  z-index: 15;
}
#dialog[data-visible] {
  opacity: 1;
  pointer-events: auto;
}
#dialog > .modal {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.0625rem;
  justify-content: flex-start;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 16rem;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  color: inherit;
  font: inherit;
  overflow: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
}
#dialog > .modal > .title {
  background-color: rgb(229.5, 229.5, 229.5);
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.75rem;
}
#dialog > .modal > .content {
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 300;
  padding: 2rem 1rem;
}
#dialog > .modal > .button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  flex: 0 0 auto;
  padding: 0.75rem;
}
#dialog > .modal > .button-container > .button {
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
}
#dialog > .modal > .button-container > .button.confirm {
  background-color: rgb(172, 194.4324324324, 255);
}
#dialog > .modal > .button-container > .button.cancel {
  background-color: rgb(229.5, 229.5, 229.5);
}

#main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  width: 60%;
  align-self: center;
  color: inherit;
  font: inherit;
  padding: 2rem 0;
}

#main > .search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
}
#main > .search > .menu-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}
#main > .search > .menu-container > .menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: #E9EFFF;
  padding: 0.375rem 0;
  position: relative;
}
#main > .search > .menu-container > .menu:hover {
  background-color: #4678FF;
}
#main > .search > .menu-container > .menu > .icon {
  width: 100%;
}
#main > .search > .menu-container > .menu > .caption {
  font-size: 0.75rem;
  font-weight: 700;
}
#main > .search > .search {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  background-color: #E9EFFF;
}
#main > .search > .search > .title {
  font-size: 1.625rem;
  font-weight: 500;
}
#main > .search > .search > .label {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  position: relative;
}
#main > .search > .search > .label > .image-wrapper {
  top: 0;
  left: 0;
  line-height: 0;
  margin-left: 0.25rem;
  position: absolute;
}
#main > .search > .search > .label > .image-wrapper > .image {
  width: 2rem;
  height: 2rem;
}
#main > .search > .search > .label > .input {
  width: 20rem;
  height: 2rem;
  background-color: #ffffff;
  border-bottom: 0.0625rem solid #A5BDFF;
  border-radius: 999rem;
  padding-left: 2.5rem;
}

#main > .title {
  align-self: center;
  color: #A5BDFF;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 0;
  transition-duration: 1000ms;
  transition-property: color;
  transition-timing-function: linear;
}
#main > .title.-active {
  color: #3A6FFF;
}

#main > .group {
  background-color: #FFFFFF;
}
#main > .group > .title-container {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  padding: 0.625rem 0;
}
#main > .group > .title-container > .title {
  color: inherit;
  font-size: 2.25rem;
  font-weight: 700;
}
#main > .group > .title-container > .radio-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}
#main > .group > .title-container > .link {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}
#main > .group > .list {
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
}
#main > .group > .list > .row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.0625rem;
  justify-content: flex-start;
  height: 6rem;
}
#main > .group > .list > .row > .image-container {
  height: 100%;
  background-color: #E9EFFF;
}
#main > .group > .list > .row > .image-container > .image {
  height: 100%;
}
#main > .group > .list > .row > .content-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-around;
  background-color: #E9EFFF;
  flex: 1 1 auto;
  padding: 0.5rem 1.25rem;
}
#main > .group > .list > .row > .content-container > .title {
  color: inherit;
  font: inherit;
  font-size: 1.125rem;
  font-weight: 700;
}
#main > .group > .list > .row > .content-container > .content {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: flex-start;
}
#main > .group > .list > .row > .content-container > .content > .item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
}
#main > .group > .list > .row > .content-container > .content > .item > .title {
  font-size: 0.875rem;
  font-weight: 500;
}
#main > .group > .list > .row > .content-container > .content > .item > .caption {
  font-size: 0.875rem;
  font-weight: 300;
}
#main > .group > .list > .row > .member-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  align-self: stretch;
  background-color: #E9EFFF;
  padding: 0.5rem 1.25rem;
}

#more {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: rgba(234.6, 234.6, 234.6, 0.5333333333);
  padding: 3rem 0;
  position: fixed;
  transform: translateY(100%);
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: ease-in;
  z-index: 10;
}
#more.-show {
  transform: translateY(0);
}
#more.-show > .button {
  opacity: 1;
  pointer-events: auto;
}
#more > .button {
  top: 0;
  left: 0;
  background-color: rgba(234.6, 234.6, 234.6, 0.5333333333);
  cursor: pointer;
  opacity: 0;
  padding: 0.5rem 1rem 0.25rem 1rem;
  pointer-events: none;
  position: absolute;
  transform: translate(100%, -100%);
  transition-duration: 100ms;
  transition-property: opacity, pointer-events;
}
#more > .link {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 500;
}

#quick {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  bottom: 4rem;
  right: 4rem;
  position: fixed;
}
#quick > .item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #E9EFFF;
  border-radius: 999rem;
  color: #4a4a4a;
  font: inherit;
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
}
#quick > .item:hover {
  background-color: #4678FF;
  color: #FFFFFF;
}
#quick > .item:nth-child(1), #quick > .item:nth-child(2), #quick > .item:nth-child(3) {
  opacity: 0;
  pointer-events: none;
  transition-duration: 500ms;
  transition-property: transform, opacity, pointer-events;
  transition-timing-function: ease-in-out;
}
#quick > .item:nth-child(1) {
  transform: translateY(calc(300% + 1.5rem));
}
#quick > .item:nth-child(2) {
  transform: translateY(calc(200% + 1rem));
}
#quick > .item:nth-child(3) {
  transform: translateY(calc(100% + 0.5rem));
}
#quick > .item:nth-child(1):has(~ .item > .label > .input:checked), #quick > .item:nth-child(2):has(~ .item > .label > .input:checked), #quick > .item:nth-child(3):has(~ .item > .label > .input:checked) {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
#quick > .item > .link {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #3A6FFF;
  cursor: pointer;
  font: inherit;
  font-size: 0.875rem;
  font-weight: 500;
}
#quick > .item > .label {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#quick > .item > .label > .input {
  display: none;
}

#modifyContent {
  top: 50%;
  left: 50%;
  width: 60rem;
  height: 50rem;
  background-color: #F5F7FF;
  border-radius: 0.5rem;
  display: none;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 15;
}
#modifyContent[data-visible] {
  display: flex;
}
#modifyContent > .modify-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#modifyContent > .modify-form > .header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  background-color: #4678FF;
  color: #FDFDFD;
  flex-shrink: 0;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
}
#modifyContent > .modify-form > .header > .title {
  flex: 1;
  text-align: center;
  margin-left: 2rem;
}
#modifyContent > .modify-form > .header > .closeIcon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
#modifyContent > .modify-form > .profile-modify {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: flex-start;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 2rem;
}
#modifyContent > .modify-form > .profile-modify::-webkit-scrollbar {
  width: 0.5rem;
}
#modifyContent > .modify-form > .profile-modify::-webkit-scrollbar-thumb {
  background-color: rgba(70, 120, 255, 0.2);
  border-radius: 1rem;
}
#modifyContent > .modify-form > .profile-modify > .profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  width: calc(100% - 8rem);
  height: 16.5rem;
  background-color: #FDFDFD;
  border-radius: 1.5rem;
  flex-shrink: 0;
  margin: 1.5rem auto;
  padding: 2rem 0;
}
#modifyContent > .modify-form > .profile-modify > .profile > .upload-button {
  width: 8rem;
  height: 8rem;
  background-image: url("../../assets/images/my/my.user.png");
  background-position: center;
  background-size: cover;
  border: rgba(70, 120, 255, 0.8784313725) solid 0.0825rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
#modifyContent > .modify-form > .profile-modify > .profile > .upload-button .image-change {
  display: none;
}
#modifyContent > .modify-form > .profile-modify > .profile > .upload-button > .plus-icon {
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  background-image: url("../../assets/images/user/profile-update.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  object-fit: none;
  position: absolute;
}
#modifyContent > .modify-form > .profile-modify > .profile > .basis-profile {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
  justify-content: stretch;
}
#modifyContent > .modify-form > .profile-modify > .profile > .basis-profile > .title {
  font-size: 1.35rem;
  font-weight: 700;
}
#modifyContent > .modify-form > .profile-modify > .profile > .basis-profile > .myplace {
  color: #7d7d7d;
  font-size: 1.025rem;
  font-weight: 500;
}
#modifyContent > .modify-form > .profile-modify > .profile > .basis-profile > .grade {
  background-color: rgb(80.2, 127.4432432432, 255);
  border-radius: 0.25rem;
  color: #FDFDFD;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.325rem 0.45rem;
}
#modifyContent > .modify-form > .profile-modify > .change-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  width: calc(100% - 8rem);
  background-color: #FDFDFD;
  border-radius: 1.5rem;
  flex-shrink: 0;
  margin: 0.25rem auto;
  padding: 3.5rem;
}
#modifyContent > .modify-form > .profile-modify > .change-container > .label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  width: 100%;
  border-bottom: 0.0625rem solid rgba(234, 234, 234, 0.8784313725);
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
}
#modifyContent > .modify-form > .profile-modify > .change-container > .label:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
#modifyContent > .modify-form > .profile-modify > .change-container > .label > .caption {
  font-size: 1.125rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
#modifyContent > .modify-form > .profile-modify > .change-container > .label > .row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
  width: 90%;
}
#modifyContent > .modify-form > .profile-modify > .change-container > .label > .row .input, #modifyContent > .modify-form > .profile-modify > .change-container > .label > .row .field {
  border: none;
  border-bottom: 0.1rem solid transparent;
  flex: 1;
  font-size: 1.1rem;
  padding: 0.8rem 0.5rem;
  transition: border-bottom-color 0.3s;
}
#modifyContent > .modify-form > .profile-modify > .change-container > .label > .row .input:focus, #modifyContent > .modify-form > .profile-modify > .change-container > .label > .row .field:focus {
  outline: none;
  border-bottom-color: #4678FF;
}
#modifyContent > .modify-form > .profile-modify > .change-container > .label > .row > .addressButton {
  background-color: rgb(90.4, 134.8864864865, 255);
  border-radius: 0.25rem;
  color: #FDFDFD;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.45rem 0.65rem;
}
#modifyContent > .modify-form > .profile-modify > .change-container > .label > .row > .addressButton:hover {
  background-color: rgb(80.2, 127.4432432432, 255);
}
#modifyContent > .modify-form > .profile-modify > .change-container > .label > .row > .addressButton:active {
  background-color: #4678FF;
}
#modifyContent > .modify-form > .button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: flex-end;
  width: 40%;
  background-color: #F5F7FF;
  flex-shrink: 0;
  padding: 1.5rem 4rem;
}
#modifyContent > .modify-form > .button-container .button {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  width: 6rem;
  height: 2.8rem;
  background-color: #7D9DFF;
  border: none;
  border-radius: 0.5rem;
  color: #FDFDFD;
  flex: 1;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
#modifyContent > .modify-form > .button-container .button:hover {
  background-color: #6E91FF;
}
#modifyContent > .modify-form > .button-container .button[name=cancel] {
  background-color: #FF4646;
}
#modifyContent > .modify-form > .button-container .button[name=cancel]:hover {
  background-color: #E63E3E;
}

/*# sourceMappingURL=index.css.map */
