@use "sass:color";
@import "def";

body:has(> #dialog[data-visible]) {
  overflow: hidden;
}

#dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darken(#FFFFFF88, 25%);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition-duration: 200ms;
  transition-property: opacity, pointer-events;
  z-index: 15;

  &[data-visible] {
    opacity: 1;
    pointer-events: auto;
  }

  > .modal {
    @include flex(column, flex-start, stretch, 0.0625rem);
    top: 50%;
    left: 50%;
    width: 30rem;
    height: 16rem;
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    color: inherit;
    font: inherit;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);

    > .title {
      background-color: darken(#FFFFFF, 10%);
      flex: 0 0 auto;
      font-size: 1.125rem;
      font-weight: 500;
      padding: 0.75rem;
    }

    > .content {
      flex: 1 1 auto;
      font-size: 1rem;
      font-weight: 300;
      padding: 2rem 1rem;
    }

    > .button-container {
      @include flex(row, flex-end, center, 1rem);
      flex: 0 0 auto;
      padding: 0.75rem;

      > .button {
        border-radius: 0.25rem;
        cursor: pointer;
        padding: 0.75rem 1.25rem;

        &.confirm {
          background-color: lighten(#4678FF, 20%);
        }

        &.cancel {
          background-color: darken(#FFFFFF, 10%);
        }
      }
    }
  }
}

#main {
  @include flex(column, flex-start, stretch);
  width: 60%;
  align-self: center;
  color: inherit;
  font: inherit;
  padding: 2rem 0;
}

#main > .search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  > .menu-container {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    > .menu {
      @include flex(column, flex-start, center);
      width: 100%;
      height: 100%;
      background-color: #E9EFFF;
      padding: 0.375rem 0;
      position: relative;

      &:hover {
        background-color: #4678FF;
      }

      > .icon {
        width: 100%;
      }

      > .caption {
        font-size: 0.75rem;
        font-weight: 700;
      }
    }
  }

  > .search {
    @include flex(column, center, center, 1.25rem);
    background-color: #E9EFFF;

    > .title {
      font-size: 1.625rem;
      font-weight: 500;
    }

    > .label {
      @include flex(row, center, center);
      position: relative;

      > .image-wrapper {
        top: 0;
        left: 0;
        line-height: 0;
        margin-left: 0.25rem;
        position: absolute;

        > .image {
          width: 2rem;
          height: 2rem;
        }
      }

      > .input {
        width: 20rem;
        height: 2rem;
        background-color: #ffffff;
        border-bottom: 0.0625rem solid #A5BDFF;
        border-radius: 999rem;
        padding-left: 2.5rem;
      }
    }
  }
}

#main > .title {
  align-self: center;
  color: #A5BDFF;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 0;
  transition-duration: 1000ms;
  transition-property: color;
  transition-timing-function: linear;

  &.-active {
    color: #3A6FFF;
  }
}

#main > .group {
  background-color: #FFFFFF;

  > .title-container {
    @include flex(row, space-between, flex-end);
    padding: 0.625rem 0;

    > .title {
      color: inherit;
      font-size: 2.25rem;
      font-weight: 700;
    }

    > .radio-container {
      @include flex(row, flex-start, center, 0.5rem);
    }

    > .link {
      color: inherit;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  > .list {
    width: 100%;
    @include flex(column, flex-start, stretch, 0.25rem);

    > .row {
      @include flex(row, flex-start, stretch, 0.0625rem);
      height: 6rem;

      > .image-container {
        height: 100%;
        background-color: #E9EFFF;

        > .image {
          height: 100%;
        }
      }

      > .content-container {
        @include flex(column, space-around, flex-start);
        background-color: #E9EFFF;
        flex: 1 1 auto;
        padding: 0.5rem 1.25rem;

        > .title {
          color: inherit;
          font: inherit;
          font-size: 1.125rem;
          font-weight: 700;
        }

        > .content {
          @include flex(row, flex-start, center, 1.25rem);


          > .item {
            @include flex(row, flex-start, center, 0.25rem);

            > .title {
              font-size: 0.875rem;
              font-weight: 500;
            }

            > .caption {
              font-size: 0.875rem;
              font-weight: 300;
            }
          }
        }
      }

      > .member-container {
        @include flex(row, flex-start, center);
        align-self: stretch;
        background-color: #E9EFFF;
        padding: 0.5rem 1.25rem;
      }
    }
  }
}

#more {
  @include flex(column, center, center);
  bottom: 0;
  width: 100%;
  background-color: darken(#FFFFFF88, 8%);
  padding: 3rem 0;
  position: fixed;
  transform: translateY(100%);
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: ease-in;
  z-index: 10;

  &.-show{
    transform: translateY(0);

    > .button {
      opacity: 1;
      pointer-events: auto;
    }
  }



  > .button {
    top: 0;
    left: 0;
    background-color: darken(#FFFFFF88, 8%);
    opacity: 0;
    padding: 0.5rem 0.5rem 0.125rem 0.5rem;
    pointer-events: none;
    position: absolute;
    transform: translate(100%, -100%);
    transition-duration: 100ms;
    transition-property: opacity, pointer-events;
  }
}

#quick {
  @include flex(column, flex-start, center, 0.5rem);
  bottom: 4rem;
  right: 4rem;
  position: fixed;

  > .item {
    @include flex(column, center, center);
    width: 4rem;
    height: 4rem;
    background-color: #A5BDFF;
    border-radius: 999rem;
    color: #4a4a4a;
    font: inherit;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;

    &:hover {
      background-color: #4678FF;
      color: #FFFFFF;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3){
      opacity: 0;
      pointer-events: none;
      transition-duration: 500ms;
      transition-property: transform, opacity, pointer-events;
      transition-timing-function: ease-in-out;
    }

    &:nth-child(1) {
      transform: translateY(calc(300% + 1.5rem));
    }

    &:nth-child(2) {
      transform: translateY(calc(200% + 1rem));
    }

    &:nth-child(3) {
      transform: translateY(calc(100% + 0.5rem));
    }

    &:nth-child(1):has(~ .item > .label > .input:checked),
    &:nth-child(2):has(~ .item > .label > .input:checked),
    &:nth-child(3):has(~ .item > .label > .input:checked){
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }

    > .link {
      @include flex(row, center, center);
      width: 100%;
      height: 100%;
      color: inherit;
      cursor: pointer;
      font: inherit;
      font-size: 0.875rem;
      font-weight: 500;
    }

    > .label {
      @include flex(column, center, center);
      width: 100%;
      height: 100%;

      > .input {
        display: none;
      }
    }
  }
}

// 회원 정보 수정
#modifyContent {
  top: 50%;
  left: 50%;
  width: 60rem;
  height: 50rem;
  background-color: #F5F7FF;
  border-radius: 0.5rem;
  display: none;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 15;

  &[data-visible] {
    display: flex;
  }

  > .modify-form {
    height: 100%;
    display: flex;
    flex-direction: column;

    > .header{
      @include flex(row, space-between, center);
      background-color: #4678FF;
      color: #FDFDFD;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0.75rem 1.5rem;

      > .title {
        flex: 1;
        text-align: center;
        margin-left: 2rem;
      }

      > .closeIcon {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
      }
    }

    > .profile-modify {
      @include flex(column, flex-start, center, 1.2rem);
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 2rem;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(70, 120, 255, 0.2);
        border-radius: 1rem;
      }

      > .profile {
        @include flex(row, center, center, 3rem);
        width: calc(100% - 8rem);
        height: 16.5rem;
        background-color: #FDFDFD;
        border-radius: 1.5rem;
        flex-shrink: 0;
        margin: 1.5rem auto;
        padding: 2rem 0;

        > .upload-button {
          width: 8rem;
          height: 8rem;
          background-image: url("../../assets/images/my/my.user.png");
          background-position: center;
          background-size: cover;
          border: #4678FFe0 solid 0.0825rem;
          border-radius: 50%;
          cursor: pointer;
          position: relative;

          .image-change {
            display: none;
          }

          > .plus-icon {
            bottom: 0;
            right: 0;
            width: 3rem;
            height: 3rem;
            background-image: url("../../assets/images/user/profile-update.png");
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            object-fit: none;
            position: absolute;
          }
        }

        > .basis-profile {
          @include flex(column, stretch, flex-start, 0.45rem);

          > .title {
            font-size: 1.35rem;
            font-weight: 700;
          }

          > .myplace {
            color: #7d7d7d;
            font-size: 1.025rem;
            font-weight: 500;
          }

          > .grade {
            background-color: lighten(#4678FF, 2%);
            border-radius: 0.25rem;
            color: #FDFDFD;
            font-size: 1rem;
            font-weight: 400;
            padding: 0.325rem 0.45rem;
          }
        }
      }

      > .change-container {
        @include flex(column, flex-start, stretch);
        width: calc(100% - 8rem);
        background-color: #FDFDFD;
        border-radius: 1.5rem;
        flex-shrink: 0;
        margin: 0.25rem auto;
        padding: 3.5rem;

        > .label {
          @include flex(column, center, flex-start, 0.8rem);
          width: 100%;
          border-bottom: 0.0625rem solid #eaeaeae0;
          margin-bottom: 2.5rem;
          padding-bottom: 2.5rem;

          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
          }

          > .caption {
            font-size: 1.125rem;
            font-weight: 700;
            margin-left: 0.5rem;
          }

          > .row {
            @include flex(row, space-between, center, 1.5rem);
            width: 90%;

            .input, .field {
              border: none;
              border-bottom: 0.1rem solid transparent;
              flex: 1;
              font-size: 1.1rem;
              padding: 0.8rem 0.5rem;
              transition: border-bottom-color 0.3s;

              &:focus {
                outline: none;
                border-bottom-color: #4678FF;
              }
            }

            > .addressButton {
              background-color: lighten(#4678FF, 4%);
              border-radius: 0.25rem;
              color: #FDFDFD;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 500;
              padding: 0.45rem 0.65rem;

              &:hover {
                background-color: lighten(#4678FF, 2%);
              }

              &:active {
                background-color: #4678FF;
              }
            }
          }
        }
      }
    }
    > .button-container {
      @include flex(row, flex-end, center, 0.75rem);
      width: 40%;
      background-color: #F5F7FF;
      flex-shrink: 0;
      padding: 1.5rem 4rem;

      .button {
        @include flex(row, center, center);
        width: 6rem;
        height: 2.8rem;
        background-color: #7D9DFF;
        border: none;
        border-radius: 0.5rem;
        color: #FDFDFD;
        flex: 1;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: #6E91FF;
        }

        &[name="cancel"] {
          background-color: #FF4646;

          &:hover {
            background-color: #E63E3E;
          }
        }
      }
    }
  }



}