<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/fragments.css">
    <link rel="stylesheet" href="/assets/styles/home.css" type="text/css">
    <link rel="stylesheet" href="/article/assets/styles/article.css">
</head>
<body>

<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>

<main id="main">
    <div class="container">
        <!-- 제목 -->
        <div class="title-container">
            <h2 class="title" th:text="${article.title}"></h2>
            <div class="user">
                <div class="nickname">관리자</div>
                <div class="created-at"
                     th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                <div class="view" th:text="${article.view}"></div>
            </div>
        </div>

        <!-- 내용 -->
        <div class="context-container">
            <div class="memo-card">
                <div class="caption">공지 내용</div>
                <div class="text" th:text="${article.content}"></div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
