<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>끼리끼리</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/fragments.css" type="text/css">
    <link rel="stylesheet" href="/user/assets/styles/login.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=92c55423409f256ecb1626e5dbd939a0&libraries=services"></script>
    <script defer src="/assets/scripts/common.js" type="text/javascript"></script>
    <script defer src="/user/assets/scripts/login.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: dialog}"></th:block>
<main id="main">
    <div class="logo">
        <div class="wrapper">
            <img src="/assets/images/user/logoIcon.png" alt="" class="item image">
            <a class="item title" href="/">끼리끼리</a>
        </div>
    </div>
    <div class="content">
        <form novalidate name="loginForm" class="form login-form">
            <input type="hidden" name="redirect" th:value="${redirect}">
            <h1 class="item title">LOGIN</h1>
            <label class="label" data-name="loginEmail">
                <span class="title">아이디</span>
                <input autofocus required autocomplete="email" class="field" maxlength="50" minlength="6" name="email" spellcheck="false" placeholder="이메일을 입력해 주세요." type="email">
                <span data-component="label.message" data-message="warning">
                    <img src="/user/assets/images/userWarning.png" alt="" class="warningIcon">
                    <span class="text">이메일을 입력해 주세요.</span>
                </span>
            </label>
            <label class="label" data-name="loginPassword">
                <span class="title">비밀번호</span>
                <input required autocomplete="off" class="field" maxlength="50" minlength="6" name="password" spellcheck="false" placeholder="비밀번호를 입력해 주세요." type="password">
                <span data-component="label.message" data-message="warning">
                    <img src="/user/assets/images/userWarning.png" alt="" class="warningIcon">
                    <span class="text">비밀번호를 입력해 주세요.</span>
                </span>
            </label>
            <label class="checkLabel" data-name="loginRememberEmail">
                <input name="remember" type="checkbox" class="check-box">
                <span class="check-label">이메일을 기억할까요?</span>
            </label>
            <button type="submit" name="loginButton" class="button">로그인</button>
            <button type="button" name="loginButton" class="button">kakao</button>
            <button type="button" name="loginButton" class="button">naver</button>
            <div class="menu">
                <a href="/user/register" class="caption register">회원가입</a>
                <a href="#" class="caption find-custom">회원찾기</a>
            </div>
        </form>
    </div>

</main>
</body>
</html>