<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>끼리끼리</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/user/assets/styles/register.css">
</head>
<body>
<header id="header">
    <div class="choice-container">
        <div class="choice common">
            <div class="box">
                <span class="caption">일반 회원가입</span>
            </div>
        </div>
        <div class="choice boss">
            <div class="box">
                <span class="caption">사장님 회원가입</span>
            </div>
        </div>
    </div>
</header>

<main id="main">
    <div class="logo-container">
        <div class="logo-wrapper">
            <img src="/assets/images/user/logoIcon.png" alt="icon" class="icon">
            <h1 class="title">끼리끼리</h1>
        </div>
        <nav class="switch-container">
            <button type="button" class="switch-btn active" data-type="common">일반 가입</button>
            <button type="button" class="switch-btn" data-type="boss">사장님 가입</button>
        </nav>
    </div>


    <div class="content">
        <form  data-visible novalidate class="common-form form" data-name="commonRegisterForm">
            <h2 class="title">회원가입</h2>
            <input hidden name="emailSalt" type="hidden">
            <label class="label" data-name="registerEmail">
                <span class="caption">이메일</span>
                <span class="row">
                    <input required autocomplete="email" maxlength="50" minlength="6" name="email" spellcheck="false"
                           placeholder="이메일을 입력해 주세요" type="email" class="field">
                    <button class="botton" type="button">인증번호 전송</button>
                </span>
            </label>
            <label class="label" data-name="registerEmailCode">
                <span class="caption">인증번호</span>
                <span class="row">
                    <input required autocomplete="off" maxlength="6" minlength="6" name="emailCode" spellcheck="false"
                           placeholder="이메일로 전송된 인증번호를 입력해 주세요" type="text" class="field">
                    <button class="botton" type="button">인증번호 확인</button>
                </span>
                <span class="count" data-component="label.row">
                    <span class="minute">00</span>
                    <span class="colon">:</span>
                    <span class="second">00</span>
                    <a class="reset" href="#">다시 시도하기</a>
                </span>
            </label>
            <label class="label" data-name="registerPassword">
                <span class="caption">비밀번호</span>
                <span class="row">
                    <input required autocomplete="off" maxlength="50" minlength="6" name="password" spellcheck="false"
                           placeholder="비밀번호를 입력해 주세요." type="password" class="field">
                    <input required autocomplete="off" maxlength="50" minlength="6" name="passwordCheck"
                           spellcheck="false" placeholder="비밀번호를 한 번 더 입력해 주세요." type="password" class="field">
                </span>
            </label>
            <label class="label" data-name="registerNickname">
                <span class="caption">닉네임</span>
                <span class="row">
                    <input required autocomplete="off" class="field -flex-stretch" maxlength="10" minlength="1"
                           name="nickname" spellcheck="false" placeholder="닉네임을 입력해 주세요." type="text">
                    <button name="nicknameCheck" type="button" data-object="button"
                            data-color="simple">닉네임 중복 확인</button>
                </span>
            </label>

            <div class="button-container">
                <button type="button" name="cancel" class="button">취소</button>
                <button type="submit" name="submit" class="button">완료</button>
            </div>
        </form>

        <form novalidate class="form boss-form" data-name="bossForm">
            <h2 class="title">사장님 회원가입</h2>

            <label class="label">
                <span class="caption">상호(가게명)</span>
                <span class="row">
                    <input type="text" name="storeName" class="field" placeholder="가게 이름을 입력해 주세요." required>
                </span>
            </label>

            <label class="label">
                <span class="caption">사업자 등록번호</span>
                <span class="row">
                    <input type="text" name="businessNumber" class="field" placeholder="숫자 10자리를 입력해 주세요." required>
                    <button type="button">조회하기</button>
                </span>
            </label>

            <label class="label">
                <span class="caption">대표자명</span>
                <span class="row">
                    <input type="text" name="bossName" class="field" placeholder="대표자 성함을 입력해 주세요." required>
                </span>
            </label>

            <label class="label">
                <span class="caption">대표자 휴대폰 번호</span>
                <span class="row">
                    <input type="tel" name="contact" class="field" placeholder="'-' 없이 입력해 주세요." required>
                    <button type="button">인증 요청</button>
                 </span>
            </label>

            <label class="label">
                <span class="caption">사장님 이메일</span>
                <span class="row">
                    <input type="email" name="email" class="field" placeholder="이메일 주소를 입력해 주세요." required>
                    <button type="button">인증번호 전송</button>
                </span>
            </label>

            <label class="label" data-name="registerPassword">
                <span class="caption">비밀번호</span>
                <span class="row">
                    <input type="password" name="password" class="field" placeholder="비밀번호를 입력해 주세요." required>
                    <input type="password" name="passwordCheck" class="field" placeholder="비밀번호를 한 번 더 입력해 주세요." required>
                </span>
            </label>

            <label class="label">
                <span class="caption">업종</span>
                <span class="row">
                    <input type="text" name="businessType" class="field" placeholder="예: 음식점, 카페 등" required>
                </span>
            </label>

            <label class="label">
                <span class="caption">매장 주소</span>
                <span class="row">
                    <input type="text" name="address" class="field" placeholder="주소 찾기를 이용해 주세요." readonly required>
                    <button type="button">주소 찾기</button>
                </span>
            </label>

            <label class="label">
                <span class="caption">매장 전화번호</span>
                <span class="row">
                    <input type="tel" name="storeContact" class="field" placeholder="가게 전화번호를 입력해 주세요.">
                </span>
            </label>

            <label class="label">
                <span class="caption">운영 시간</span>
                <span class="row">
                    <input type="text" name="operatingHours" class="field" placeholder="예: 평일 09:00 ~ 21:00">
                </span>
            </label>

            <div class="button-container">
                <button type="button" name="cancel" class="button">취소</button>
                <button type="submit" name="submit" class="button">완료</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>