<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/assets/styles/index.css" type="text/css">
</head>
<body>
<nav id="top" th:fragment="topNavigator" th:with="isSigned = ${ session.sessionUser != null }">
    <label class="image-wrapper">
        <input class="input" hidden type="checkbox">
        <img class="image" src="/assets/images/nav/nav.hamburger.button.png" alt="menu">
    </label>
    <span class="title">
        <a class="link" href="/">끼리끼리</a>
    </span>
    <ol class="button-container">
        <li class="button">
            <a class="link" href="/user/register" target="_self">회원가입</a>
        </li>
        <li class="button" th:if=" ${isSigned == false }">
            <a class="link" href="/user/login" target="_self">로그인</a>
        </li>
        <li class="button" th:if=" ${isSigned == true }">
            <a class="link" href="/user/logout" target="_self">로그아웃</a>
        </li>
    </ol>
</nav>
<div id="my" th:fragment="sideMypage(user)" th:with="isSigned = ${ session.sessionUser != null }">
<!--    로그인상태에 따라 보여줄 요소 다르게 해야함-->
    <div class="container">
        <div class="box user">
            <div class="image-container">
                <img src="/assets/images/my/my.user.png" alt="user">
            </div>
            <div class="info">
                <div class="nickname">0kcal</div>
                <div class="address">대구 북구 동천동</div>
                <div class="rank">신입회원</div>
            </div>
            <button class="button" type="button">마이페이지</button>
        </div>
        <div class="box cash-container">
            <h2 class="title">내 지갑</h2>
            <div class="content-container">
                <span class="content cash">
                    <span class="now">32000</span>
                    <span class="won">원</span>
                </span>
                <button class="button" type="button">충전</button>
            </div>

        </div>
        <div class="box review-container">
            <h2 class="title">나의 리뷰 점수</h2>
            <span class="content review">
                <span class="now">4.21</span>
                <span>/</span>
                <span class="max">★ 4.5</span>
            </span>
        </div>
        <div class="-stretch" role="none"></div>
        <a class="link" href="#" target="_blank">고객센터</a>
    </div>
</div>
</body>
</html>