<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<nav id="top" th:fragment="topNavigator" th:with="isSigned = ${ session.sessionUser != null }">
    <label class="image-wrapper">
        <input class="input" hidden type="checkbox">
        <img class="image" src="/assets/images/nav/nav.hamburger.button.png" alt="menu">
    </label>
    <a class="link" href="/">끼리끼리</a>
    <ol class="button-container">
        <li class="button" th:if=" ${isSigned == false }">
            <a class="link" href="/user/register" target="_self">회원가입</a>
        </li>
        <li class="button" th:if=" ${isSigned == false }">
            <a class="link" href="/user/login" target="_self">로그인</a>
        </li>
        <li class="button" th:if=" ${isSigned == true }">
            <a class="link" href="/user/logout" target="_self">로그아웃</a>
        </li>
        <li class="bell" th:if=" ${isSigned == true }">
            <div class="total hidden"></div>
            <label class="label">
                <input hidden class="input" name="bell" type="checkbox">
                <img class="image" src="/assets/images/my/my.message.box.png" alt="">
            </label>
            <ol class="message-list">
                <li class="title">최근 알림</li>

            </ol>
        </li>
    </ol>
</nav>
<div id="my" th:fragment="sideMypage(user)" th:with="isSigned = ${ session.sessionUser != null }">
    <!--    로그인상태에 따라 보여줄 요소 다르게 해야함-->
    <div class="container">
        <div class="box user">
            <button class="current" name="location" type="button"
                th:if="${session.sessionUser != null}">
                <img src="/article/assets/images/write/search-modal/current.png" alt="">
                <span class="caption">현위치</span>
            </button>
            <div class="image-container">
                <img src="/assets/images/my/my.user.png" alt="user">
            </div>
            <div class="info">
                <div class="nickname"
                     th:if="${session.sessionUser != null}"
                     th:text="${session.sessionUser.nickname}"></div>
                <div class="nickname"
                     th:if="${session.sessionUser == null}">게스트</div>
                <div class="address"
                     th:text="${session.sessionUser?.addressPrimary}"></div>
                <div class="rank"
                     th:if="${session.sessionUser != null}">일반회원</div>
                <div class="rank"
                     th:if="${session.sessionUser == null}">비회원</div>
            </div>
            <a class="link"
               th:href="@{${session.sessionUser != null ? '/user/my' : '/user/login'}}"
               th:text="${session.sessionUser != null ? '회원정보 수정' : '로그인'}"></a>
        </div>
        <div class="box point-container">
            <h2 class="title">내 지갑</h2>
            <div class="content" th:if="${session.sessionUser == null}">
                <span class="message">로그인 후 이용가능합니다.</span>
            </div>
            <div class="content" th:if="${session.sessionUser != null}">
                <span class="value" th:text="${wallet != null ? wallet.cash : 0}"></span>
                <span class="caption">Pay</span>
                <button class="charge" name="charge" type="button">충전하기</button>
            </div>
        </div>
        <div class="box">
            <h2 class="title">나의 리뷰 점수</h2>
            <div class="content" th:if="${session.sessionUser == null}">
                <span class="message">로그인 후 이용가능합니다.</span>
            </div>
            <div class="content" th:if="${session.sessionUser != null}">
                <span class="value">4.21 </span>
                <span class="caption">/ ★ 5.0</span>
            </div>
        </div>
        <div class="-stretch" role="none"></div>
        <a class="link" href="/board/service" target="_self">고객센터</a>
    </div>
    <div class="charge-container">
        <div class="cost-container">
            <button class="close" name="chargeClose" type="button">
                <img class="image" src="/assets/images/my/my.charge.close.png" alt="">
            </button>
            <h2 class="title">충전금액</h2>
            <label class="cost-wrapper">
                <input hidden class="radio" type="radio" name="cost" value="50000">
                <span class="value">50000원</span>
            </label>
            <label class="cost-wrapper">
                <input hidden class="radio" type="radio" name="cost" value="30000">
                <span class="value">30000원</span>
            </label>
            <label class="cost-wrapper">
                <input hidden class="radio" type="radio" name="cost" value="10000">
                <span class="value">10000원</span>
            </label>
            <label class="cost-wrapper">
                <input hidden class="radio" type="radio" name="cost" value="5000">
                <span class="value">5000원</span>
            </label>
            <label class="cost-wrapper">
                <input hidden class="radio" type="radio" name="cost" value="3000">
                <span class="value">3000원</span>
            </label>
            <label class="cost-wrapper">
                <input hidden class="radio" type="radio" name="cost" value="1000">
                <span class="value">1000원</span>
            </label>
            <label class="cost-wrapper">
                <input hidden class="radio" type="radio" name="cost" value="-1">
                <span class="input-wrapper">
                    <input class="white-paper" max="100000" min="1000" name="whitePaper"
                           placeholder="원하시는 금액을 입력하세요. 최대 10만원, 최소 1천원" type="number">
                </span>
            </label>
        </div>
        <button class="button" name="payment" type="button">결제하기</button>
    </div>
</div>
<div id="dialog" th:fragment="dialog">
    <!--    <div class="modal">-->
    <!--        <div class="title"></div>-->
    <!--        <div class="content"></div>-->
    <!--        <div class="button-container">-->
    <!--            <button class="button cancel" type="button">취소</button>-->
    <!--            <button class="button confirm" type="button">확인</button>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
<ol id="quick" th:fragment="quick(board)"
    th:with="boardId=${board != null ? board.id : null}">

    <!-- 공구 게시판: 로그인한 모든 회원 -->
    <li class="item" th:if="${boardId == 'share' && session.sessionUser != null}">
        <a class="link"
           th:href="@{/article/{boardId}/write(boardId=${boardId})}">작성
        </a>
    </li>

    <!-- 홍보 게시판: 로그인한 사장님 또는 관리자 -->
    <li class="item" th:if="${boardId == 'promote' && session.sessionUser != null && (session.sessionUser.isBoss() || session.sessionUser.isAdmin())}">
        <a class="link"
           th:href="@{/article/{boardId}/write(boardId=${boardId})}">작성
        </a>
    </li>

    <!-- 아래 4개는 항상 노출 -->
    <li class="item">
        <a class="link" th:href="@{/board/list(id='share')}" target="_self">공구</a>
    </li>
    <li class="item">
        <a class="link" th:href="@{/board/list(id='promote')}" target="_self">홍보</a>
    </li>
    <li class="item">
        <a class="link" th:href="@{/board/list(id='notice')}" target="_self">공지</a>
    </li>
    <li class="item">
        <label class="label">
            <span class="caption">+</span>
            <input hidden class="input" type="checkbox"/>
        </label>
    </li>
</ol>
</body>
</html>