<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<nav id="top" th:fragment="topNavigator" th:with="isSigned = ${ session.sessionUser != null }">
    <label class="image-wrapper">
        <input class="input" hidden type="checkbox">
        <img class="image" src="/assets/images/nav/nav.hamburger.button.png" alt="menu">
    </label>
    <a class="link" href="/">끼리끼리</a>
    <ol class="button-container">
        <li class="button" th:if=" ${isSigned == false }">
            <a class="link" href="/user/register" target="_self">회원가입</a>
        </li>
        <li class="button" th:if=" ${isSigned == false }">
            <a class="link" href="/user/login" target="_self">로그인</a>
        </li>
        <li class="button" th:if=" ${isSigned == true }">
            <a class="link" href="/user/logout" target="_self">로그아웃</a>
        </li>
        <li class="bell" th:if=" ${isSigned == true }">
            <label class="label">
                <input hidden class="input" name="bell" type="checkbox">
                <img class="image" src="/assets/images/my/my.message.box.png" alt="">
            </label>
            <ol class="message-list">
                <li class="title">최근 알림</li>
                <li class="item">
                    <div class="title-container">
                        <div class="sender">${message.sender}</div>
                        <div class="created-at">2026-02-05 10:36</div>
                    </div>
                    <div class="content">${message.sender}님이 <br> ${message.articleMenuName} 공동구매 참가 요청</div>
                </li>
                <li class="item">
                    <div class="title-container">
                        <div class="sender">${message.sender}</div>
                        <div class="created-at">2026-02-05 10:36</div>
                    </div>
                    <div class="content">${message.sender}님이 <br> ${message.articleMenuName} 공동구매 참가 요청</div>
                </li>
                <li class="item">
                    <div class="title-container">
                        <div class="sender">${message.sender}</div>
                        <div class="created-at">2026-02-05 10:36</div>
                    </div>
                    <div class="content">${message.sender}님이 <br> ${message.articleMenuName} 공동구매 참가 요청</div>
                </li>
                <li class="item">
                    <div class="title-container">
                        <div class="sender">${message.sender}</div>
                        <div class="created-at">2026-02-05 10:36</div>
                    </div>
                    <div class="content">${message.sender}님이 <br> ${message.articleMenuName} 공동구매 참가 요청</div>
                </li>
                <li class="item">
                    <div class="title-container">
                        <div class="sender">${message.sender}</div>
                        <div class="created-at">2026-02-05 10:36</div>
                    </div>
                    <div class="content">${message.sender}님이 <br> ${message.articleMenuName} 공동구매 참가 요청</div>
                </li>
            </ol>
        </li>
    </ol>
</nav>
<div id="my" th:fragment="sideMypage(user)" th:with="isSigned = ${ session.sessionUser != null }">
    <!--    로그인상태에 따라 보여줄 요소 다르게 해야함-->
    <div class="container">
        <div class="box user">
            <div class="image-container">
                <img src="/assets/images/my/my.user.png" alt="user">
            </div>
            <div class="info">
                <div class="nickname">게스트</div>
                <div class="address">현재 위치정보를 알 수 없습니다.</div>
                <div class="rank">비회원</div>
            </div>
            <a class="link"
               th:href="@{${session.sessionUser != null ? '/user/my' : '/user/login'}}"
               th:text="${session.sessionUser != null ? '회원정보 수정' : '로그인'}">로그인</a>
        </div>
        <div class="box point-container">
            <h2 class="title">내 지갑</h2>
            <div class="content" th:if="${session.sessionUser == null}">
                <span class="message">로그인 후 이용가능합니다.</span>
            </div>
            <div class="content" th:if="${session.sessionUser != null}">
                <span class="value">2000</span>
                <span class="caption">P</span>
                <a th:href="@{${session.sessionUser != null ? '/widget/checkout' : '/'}}"
                   class="charge">충전하기</a>
<!--                <a th:href="@{'/charge'}" class="charge">충전하기</a>-->
            </div>
        </div>
        <div class="box">
            <h2 class="title">나의 리뷰 점수</h2>
            <div class="content" th:if="${session.sessionUser == null}">
                <span class="message">로그인 후 이용가능합니다.</span>
            </div>
            <div class="content" th:if="${session.sessionUser != null}">
                <span class="value">4.21 </span>
                <span class="caption">/ ★ 5.0</span>
            </div>
        </div>
        <div class="-stretch" role="none"></div>
        <a class="link" href="/board/service" target="_self">고객센터</a>
    </div>
</div>
<div id="dialog" th:fragment="dialog">
    <!--    <div class="modal">-->
    <!--        <div class="title">알림</div>-->
    <!--        <div class="content">글쓰기는 로그인 후 사용할 수 있습니다.</div>-->
    <!--        <div class="button-container">-->
    <!--            <button class="button cancel" type="button">취소</button>-->
    <!--            <button class="button confirm" type="button">확인</button>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
</body>
</html>