<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>끼리끼리</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/index.css">
</head>
<body>
<nav id="top">
    <span class="image-wrapper">
        <img class="image" src="/assets/images/nav/nav.hamburger.button.png" alt="menu">
    </span>
    <span>끼리끼리</span>
    <div>
        <button type="button">회원가입</button>
        <button type="button">로그인</button>
        <button type="button">로그아웃</button>
    </div>
</nav>
<main id="main">
    <div class="search">
        <div class="menu-container">
            <button class="menu" type="button" value="chicken">
                <img class="icon" src="/assets/images/main/main.menu.chicken.png" alt="">
                <span class="caption">#치킨</span>
            </button>
            <button class="menu" type="button" value="pizza">
                <img class="icon" src="/assets/images/main/main.menu.pizza.png" alt="">
                <span class="caption">#피자</span>
            </button>
            <button class="menu" type="button" value="hamburger">
                <img class="icon" src="/assets/images/main/main.menu.hamburger.png" alt="">
                <span class="caption">#햄버거</span>
            </button>
            <button class="menu" type="button" value="stew">
                <!--                <img src="" alt="">-->
                <span>찜/탕</span>
            </button>
            <button class="menu" type="button" value="raw">
                <!--                <img src="" alt="">-->
                <span>회</span>
            </button>
            <button class="menu" type="button" value="Japanese-food">
                <!--                <img src="" alt="">-->
                <span>일식</span>
            </button>
            <button class="menu" type="button" value="Chinese-food">
                <!--                <img src="" alt="">-->
                <span>중식</span>
            </button>
            <button class="menu" type="button" value="Western-food">
                <!--                <img src="" alt="">-->
                <span>양식</span>
            </button>
        </div>
        <form class="search" name="listSearch">
            <h2 class="title">검색으로 찾기</h2>
            <label class="label">
                <span class="image-wrapper">
                    <img class="image" src="/assets/images/main/main.menu.search.png" alt="">
                </span>
                <input class="input" type="text" placeholder="가게명, 지역명 등을 검색하세요."/>
            </label>
        </form>
    </div>
    <div class="group">
        <ol class="list">
            <li class="row">
                <div class="image-container">이미지</div>
                <div class="content">
                    <span>푸라닭 블랙마요 나눠먹을사람</span>
                    <span>가게: 대구 동성로점</span>
                    <span>모임: 중앙대로 366 10층 class A</span>
                    <span>주문: 17:00</span>
                </div>
                <span class="member">1 / 5</span>
            </li>

        </ol>
    </div>
</main>
</body>
</html>