<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>끼리끼리</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/index.css">
</head>
<body>
<nav id="top">
    <span class="image-wrapper">
        <img class="image" src="/assets/images/nav/burger.button.png" alt="menu">
    </span>
    <span>끼리끼리</span>
    <div>
        <button type="button">회원가입</button>
        <button type="button">로그인</button>
        <button type="button">로그아웃</button>
    </div>
</nav>
<main id="main">
    <form class="search" name="search">
        <div class="menu-container">
            <button class="menu" type="button" value="chicken">
                <img class="icon" src="/assets/images/main/main.menu.chicken.png" alt="">
                <span>치킨</span>
            </button>
            <button class="menu" type="button" value="pizza">
                <img src="/assets/images/main/main.menu.pizza.png" alt="">
                <span>피자</span>
            </button>
            <button class="menu" type="button" value="hamburger">
                <img src="/assets/images/main/main.menu.hamburger.png" alt="">
                <span>햄버거</span>
            </button>
            <button class="menu" type="button" value="stew">
                <!--                <img src="" alt="">-->
                <span>찜/탕</span>
            </button>
            <button class="menu" type="button" value="raw">
                <!--                <img src="" alt="">-->
                <span>회</span>
            </button>
            <button class="menu" type="button" value="Japanese-food">
                <!--                <img src="" alt="">-->
                <span>일식</span>
            </button>
            <button class="menu" type="button" value="Chinese-food">
                <!--                <img src="" alt="">-->
                <span>중식</span>
            </button>
            <button class="menu" type="button" value="Western-food">
                <!--                <img src="" alt="">-->
                <span>양식</span>
            </button>
        </div>
        <label class="gps-container">
            <span>위치검색</span>
            <input type="text"/>
            <span>시험때 사용했던 카카오 주소찾기? 그거 쓸까합니다.</span>
        </label>
    </form>
    <div class="adv">
        <ul>
            <li>
                <span>가게</span>
                <span>태그(메뉴)</span>
                <span>위치</span>
                <span>배달비(최소주문금액)</span>
                <span>방장이름</span>
                <span>인원수</span>
            </li>
            <li>
                <span>BBQ</span>
                <span>#치킨</span>
                <span>2.28 기념 공원</span>
                <span>최소주문금액 3500원</span>
                <span>양계장vip</span>
                <span>2/5</span>
            </li>
        </ul>
    </div>
</main>
</body>
</html>