<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>끼리끼리</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/fragments.css">
    <link rel="stylesheet" href="/article/assets/styles/article.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=92c55423409f256ecb1626e5dbd939a0&libraries=services"></script>
    <script defer type="text/javascript" src="/article/assets/scripts/article.js"></script>
    <script defer type="module" src="/article/assets/scripts/websocket.js"></script>
    <script defer src="/assets/scripts/common.js" type="text/javascript"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<th:block th:replace="~{/fragments/common.html :: sideMypage(${session.sessionUser})}"></th:block>
<th:block th:replace="~{/fragments/common.html :: dialog}"></th:block>
<div id="ws">
    <form class="room-container" name="chatRoom">
        <ol class="room">
            <li class="message system">
                <span class="sender">system</span>
                <span class="content"> <span style="font-weight: bold">대화입장</span> 후 입력 가능합니다. <br> 실시간 대화를 통해 자유롭게 의견을 조율해 보세요!</span>
            </li>
        </ol>
        <label class="label">
            <input disabled class="input" name="chat" type="text" placeholder="enter키를 눌러 대화해 보세요.">
            <button class="entry" name="entry" type="button">대화입장</button>
        </label>
    </form>
    <label class="label">
        <input hidden class="input" name="connect" type="checkbox">
        <span class="image-wrapper">
            <img class="image" src="/article/assets/images/chat.png" alt="">
        </span>
    </label>
</div>
<main id="main">
    <div class="container">
        <div class="title-container">
            <h2 class="title" th:text="${article.title}">푸라닭 블랙마요 나눠먹을 사람</h2>
            <div class="user">
                <div class="nickname" th:text="${article.nickname}">작성자</div>
                <div class="created-at" th:text="${ #temporals.format(article.getCreatedAt(), 'yyyy-MM-dd HH:mm')}"></div>
                <!--            <div class="is-updated">수정됨</div>-->
                <div class="view" th:text="${article.view}"></div>
            </div>
        </div>
        <div class="context-container">
            <div class="content-container">
                <div class="order-card">
                    <div class="menu-container">
                        <div class="box menu" th:attr="data-lat=${article.restaurantLat}, data-lng=${article.restaurantLng}">
                            <div class="title">메뉴</div>
                            <div class="caption" th:text="${article.menu}"></div>
                        </div>
                        <div class="box">
                            <div class="title">메뉴</div>
                            <div class="caption" th:text="${article.menuName}"></div>
                        </div>
                        <div class="box">
                            <div class="title">금액</div>
                            <div class="caption" th:text="${article.orderPrice}"></div>
                        </div>
                        <div class="box">
                            <div class="title">최소주문금액</div>
                            <div class="caption" th:text="${article.minOrderPrice}"></div>
                        </div>
                        <div class="box">
                            <div class="title">배달비</div>
                            <div class="caption" th:text="${article.deliveryPrice}"></div>
                        </div>
                    </div>
                    <div class="order-container">
                        <div class="box">
                            <div class="title">주문 시간</div>
                            <div class="caption" th:text="${#temporals.format(article.getOrderTime(), 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                        <div class="box restaurant">
                            <div class="title">주문 가게</div>
                            <div class="caption" th:text="${article.restaurant}"></div>
                        </div>
                        <div class="box">
                            <div class="title">모임 시간</div>
                            <div class="caption" th:text="${#temporals.format(article.getPickupTime(), 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                        <div class="box location">
                            <div class="title">모임 장소</div>
                            <div class="caption" th:text="${article.addressSecondary}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-container">
                <div class="fund-container">
                    <div class="box fund">
                        <h2 class="title">누적 금액</h2>
                        <div class="value-container">
                            <div class="value">16000</div>
                            <div class="caption">원</div>
                        </div>
                    </div>
                    <div class="box bill">
                        <h2 class="title">보내야할 금액</h2>
                        <div class="value-container">
                            <div class="value">16000</div>
                            <div class="caption">원</div>
                        </div>
                    </div>
                    <table>
                        <tbody>
                        <tr>
                            <th colspan="5">참여자</th>
                        </tr>
                        <tr class="user">
                            <td>
                                <img class="image" src="/article/assets/images/crown.png" alt="">
                                <span class="caption">user1</span>
                            </td>
                            <td>user2</td>
                            <td>(빈 자리)</td>
                            <td>(빈 자리)</td>
                            <td>(빈 자리)</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="button-container">
                        <button class="button" name="participate" type="button">참여하기</button>
                        <!--                        <button class="button" type="button">계산하기</button>-->
                    </div>
                </div>
                <div id="map">
                    <span class="hidden lat"></span>
                    <span class="hidden lng"></span>
                </div>
            </div>
            <div class="memo-card">
                <div class="caption">메모</div>
                <div class="text" th:text="${article.content}"></div>
            </div>
        </div>
    </div>
</main>
</body>