<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/assets/styles/common.css" type="text/css">
    <link rel="stylesheet" href="/assets/styles/fragments.css" type="text/css">
    <link rel="stylesheet" href="/article/assets/styles/write.css" type="text/css">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=92c55423409f256ecb1626e5dbd939a0&libraries=services"></script>
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/assets/scripts/dialog.js" type="text/javascript"></script>
    <script defer src="/article/assets/scripts/write/share.js"></script>
    <script th:inline="javascript">
        const isLoggedIn = /*[[${session.sessionUser != null}]]*/ false;
    </script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<th:block th:replace="~{/fragments/common.html :: sideMypage}"></th:block>
<th:block th:replace="~{/fragments/common.html :: dialog}"></th:block>
<main id="main">
    <div class="error empty-session" th:if="${session.sessionUser == null}">
        <h1 class="title">게시글 작성</h1>
        <span class="message">게시글은 회원만 작성할 수 있습니다. <a href="/user/login" target="_self">로그인</a>해 주세요.</span>
        <button name="back" type="button" data-object="button" data-color="concept">돌아가기</button>
    </div>
    <form novalidate class="form" name="writeForm"
          th:if="${board != null and session.sessionUser != null}"
          th:action="@{|/article/${board.id}/${article.id != null ? 'modify' : 'write'}|}"
          method="post"
          enctype="multipart/form-data"
          th:object="${article}">
        <h2 class="title" th:text="${article.id != null} ? '게시글 수정' : '게시글 작성'"></h2>
        <input type="hidden" name="id" th:value="${article.id}" />
        <input type="hidden" name="mode" th:value="${article.id != null ? 'modify' : 'write'}" />
        <span class="board"></span>
        <label class="column">
            <span class="caption">제목</span>
            <input required autocomplete="off" spellcheck="false" class="input" maxlength="100" minlength="1" th:field="*{title}"
                   placeholder="제목을 입력해 주세요." type="text" data-object="input" data-component="label.field">
        </label>
        <div class="row-group">
            <label class="column">
                <span class="caption">공동구매 메뉴</span>
                <select th:field="*{menu}" class="input" data-object="input" data-component="label.field">
                    <option selected value="-1">메뉴를 선택해 주세요.</option>
                    <option value="all">전체</option>
                    <option value="chicken">치킨</option>
                    <option value="pizza">피자</option>
                    <option value="hamburger">햄버거</option>
                    <option value="stew">찜/탕</option>
                    <option value="japanese-food">회/일식</option>
                    <option value="chinese-food">중식</option>
                    <option value="western-food">양식</option>
                    <option value="dessert">디저트</option>
                    <option value="etc">그 외</option>
                </select>
            </label>
            <label class="column">
                <span class="caption">메뉴이름</span>
                <input class="input" autocomplete="off" spellcheck="false" maxlength="50" minlength="1" th:field="*{menuName}" type="text" placeholder="금액을 입력해 주세요."
                       data-object="input" data-component="label.field">
            </label>
        </div>
        <div class="row-group">
            <label class="column">
                <span class="caption">최소주문금액</span>
                <input class="input" autocomplete="off" spellcheck="false" th:field="*{minOrderPrice}" maxlength="5" minlength="1" type="text"
                       placeholder="금액을 입력해 주세요." data-object="input" data-component="label.field">
            </label>
            <label class="column">
                <span class="caption">주문금액</span>
                <input class="input" autocomplete="off" spellcheck="false" th:field="*{orderPrice}" maxlength="6" minlength="1" type="text"
                       placeholder="금액을 입력해 주세요." data-object="input" data-component="label.field">
            </label>
            <label class="column">
                <span class="caption">배달비</span>
                <input class="input" autocomplete="off" spellcheck="false" th:field="*{deliveryPrice}" maxlength="5" minlength="1" type="text"
                       placeholder="금액을 입력해 주세요." data-object="input" data-component="label.field">
            </label>
        </div>
        <div class="row-group">
            <label class="column">
                <span class="caption">주문시간</span>
                <input class="input" th:field="*{orderTime}" type="datetime-local" data-object="input"
                       data-component="label.field">
            </label>
            <label class="column">
                <span class="caption">나눔시간</span>
                <input class="input" th:field="*{pickupTime}" type="datetime-local" data-object="input"
                       data-component="label.field">
            </label>
        </div>
        <label class="row">
            <span class="caption">주문가게</span>
            <input readonly disabled class="input" maxlength="100" minlength="1" th:field="*{restaurant}" type="text"
                   placeholder="'가게찾기' 버튼을 클릭해 주세요." data-object="input" data-component="label.field">
            <button class="button" name="restaurantButton" type="button" data-object="button" data-color="concept">가게찾기
            </button>
        </label>
        <div class="share-container">
            <span class="title">주문 종류</span>
            <label class="row">
                <input checked type="radio" name="shareCheck" value="0">
                <span>1인 1메뉴</span>
            </label>
            <label class="row">
                <input type="radio" name="shareCheck" value="1">
                <span>1메뉴 n명 나누기</span>
            </label>
        </div>
        <div class="address-container">
            <span class="caption">나눔장소</span>
            <label class="row">
                <input checked class="radio primary" type="radio" name="addressCheck">
                <span class="caption text">나눔주소</span>
                <input readonly disabled class="input" maxlength="100" minlength="5" th:field="*{addressPrimary}"
                       placeholder="기본 주소('주소찾기' 버튼을 클릭해 주세요.)" type="text" data-object="input"
                       data-component="label.field">
                <button class="button" name="findButton" type="button" data-object="button" data-color="concept">주소찾기
                </button>
            </label>
            <label class="row">
                <input class="radio secondary" type="radio" name="addressCheck">
                <span class="caption text">나눔장소</span>
                <input class="input" autocomplete="off" spellcheck="false" maxlength="100"
                       minlength="1" th:field="*{addressSecondary}"
                       placeholder="장소 혹은 상세 주소('장소찾기' 버튼을 클릭해 주세요.)" type="text"
                       data-object="input"
                       data-component="label.field">
                <button disabled class="button" name="placeButton" type="button" data-object="button"
                        data-color="concept">장소찾기
                </button>
            </label>
        </div>
        <label class="column">
            <span class="caption">내용</span>
            <textarea required autocomplete="off" spellcheck="false" maxlength="10000" minlength="1" th:field="*{content}"
                      rows="20" data-object="input" data-component="label.field"></textarea>
        </label>
        <label class="row end">
            <input name="entryCheck" type="checkbox">
            <span class="text">승인한 사람만 참여가능</span>
        </label>
        <div class="button">
            <button name="submit" type="submit" data-object="button" data-color="concept">작성하기</button>
        </div>
    </form>
</main>
<div id="searchModal">
    <form class="modal" name="searchForm">
        <label class="label">
            <input class="search" maxlength="20" minlength="1" name="search" type="text"
                   placeholder="'위치 설정' 후 검색하세요.">
            <span class="image-wrapper">
                <img class="image" src="/assets/images/main/main.menu.search.png" alt="">
            </span>
        </label>
        <div class="button-container">
            <span class="caption">위치:<span class="address">현 위치의 주소를 불러오는 중입니다.</span></span>
            <button class="button" name="current" type="button">
                <img class="image" src="/article/assets/images/write/search-modal/current.png" alt="">
            </button>
            <button class="button" name="select" type="button">
                <img class="image" src="/article/assets/images/write/search-modal/select.png" alt="">
            </button>
        </div>
        <div id="geoMap">
            <button class="close" name="close" type="button">
                <img class="image" src="/article/assets/images/write/search-modal/close.png" alt="">
            </button>
            <span class="caption">마커를 클릭해 저장해 주세요.</span>
        </div>
        <ol class="list">
            <li class="empty">
                검색결과가 없습니다.
            </li>
        </ol>
    </form>
</div>
</body>
</html>