<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"/>
    <link rel="stylesheet" type="text/css" href="/tosspayments/style.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>토스페이먼츠 KKIRIKKIRI-PAY 구매</title>
    <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body>
<div class="wrapper">
    <div class="box_section" style="padding: 40px 30px 50px 30px; margin-top: 30px; margin-bottom: 50px">
        <div id="payment-method"></div>
        <div id="agreement"></div>
        <div id="cost" class="cost-container">
            <div style="font-size: 1.25rem; font-weight: 500;">결제금액</div>
            <div class="cost" style="flex: 1 1 auto; font-size: 1.75rem; font-weight: 700; text-align: end;"
                 th:text="${amount}"></div>
            <div style="font-size: 1.25rem; font-weight: 500;">원</div>
        </div>
        <input disabled readonly hidden id="em" type="hidden"
               th:value="${session.sessionUser.email}"
               th:if="${session.sessionUser != null}">
        <button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>
    </div>
</div>
<script>
    main();

    async function main() {
        const button = document.getElementById("payment-button");
        const data = await fetch('/wallet/', {method: 'POST'})
            .then(res => {
                if (!res.ok) {
                    throw new Error('response error');
                }
                return res.json();
            })
            .catch(err => console.error('error: ' + err));

        // ------  결제위젯 초기화 ------
        const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
        const tossPayments = TossPayments(clientKey);
        // 회원 결제
        const customerKey = data['wallet']['customerKey'];
        const widgets = tossPayments.widgets({ customerKey });

        // ------  주문서의 결제 금액 설정 ------
        const amount = {
            currency: "KRW",
            value: +`${new URL(location.href).searchParams.get("amount")}`,
        };
        await widgets.setAmount(amount);

        await Promise.all([
            // ------  결제 UI 렌더링 ------
            widgets.renderPaymentMethods({
                selector: "#payment-method",
                variantKey: "DEFAULT",
            }),
            // ------  이용약관 UI 렌더링 ------
            widgets.renderAgreement({
                selector: "#agreement",
                variantKey: "AGREEMENT",
            }),
        ]);

        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        button.addEventListener("click", async function () {
            const formData = new FormData();
            formData.append('customerKey', customerKey);
            formData.append('amount', amount.value);
            formData.append('userEmail', data['user_email']);
            formData.append('userName', data['user_name']);

            const response = await fetch('/payment/',{
                method: 'POST',
                body: formData,
            }).then(res => {
                if (!res.ok) {
                    dialogHandler.simpleYesModal('경고', `오류가 발생하였습니다. 잠시후 다시 시도해 주세요. ${res.status}`);
                    return;
                }
                return res.json();
            }).catch(err => console.error(`error: ` + err));
            console.log(response);
            if (response.result === 'FAILURE') {
                dialogHandler.simpleYesModal('경고', `잠시후 다시 시도해 주세요.`);
                return;
            }
            // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
            // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
            await widgets.requestPayment({
                orderId: response.orderId,
                orderName: `kkirikkiri-pay ${new URL(location.href).searchParams.get("amount")}원 구매`,
                successUrl: window.location.origin + "/charge/success",
                failUrl: window.location.origin + "/tosspayments/fail.html",
                customerEmail: data['user_email'],
                customerName: data['user_name'],
                // 가상계좌 안내, 퀵계좌이체 휴대폰 번호 자동 완성에 사용되는 값입니다. 필요하다면 주석을 해제해 주세요.
                // customerMobilePhone: "01012341234",
            });
        });
    }
</script>
</body>
</html>
