<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"/>
    <link rel="stylesheet" type="text/css" href="/tosspayments/style.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>토스페이먼츠 샘플 프로젝트</title>
</head>

<body>
<div class="box_section" style="width: 600px; margin-top: 50px;">
    <img width="100px" src="https://static.toss.im/illusts/check-blue-spot-ending-frame.png"/>
    <h2>결제를 완료했어요</h2>

    <div class="p-grid typography--p" style="margin-top: 50px">
        <div class="p-grid-col text--left"><b>결제금액</b></div>
        <div class="p-grid-col text--right"><span style="font-size: 1rem; font-weight: 500;" th:text="${payment.amount}"></span> 원</div>
    </div>
    <div class="p-grid typography--p" style="margin-top: 10px">
        <div class="p-grid-col text--left"><b>주문번호</b></div>
        <div class="p-grid-col text--right" th:text="${payment.orderId}"></div>
    </div>
    <div class="p-grid typography--p" style="margin-top: 10px">
        <div class="p-grid-col text--left"><b>paymentKey</b></div>
        <div class="p-grid-col text--right" style="white-space: initial; width: 250px" th:text="${payment.paymentKey}"></div>
    </div>
    <div class="p-grid" style="margin-top: 20px; justify-content: center;">
        <button class="button p-grid-col10" onclick="window.opener.location.reload(); window.close();"
                style="background-color: #e8f3ff; color: #1b64da">닫기
        </button>
    </div>
</div>

<script th:inline="javascript">
    // const jsonStr = [[${response}]];
</script>
</body>
</html>
