<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>홍보 게시글</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/fragments.css">
    <link rel="stylesheet" href="/article/assets/styles/article.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=92c55423409f256ecb1626e5dbd939a0&libraries=services"></script>
    <script src="https://js.tosspayments.com/v2/standard"></script>
    <script defer src="/assets/scripts/dialog.js" type="text/javascript"></script>
    <script defer src="/assets/scripts/common.js" type="text/javascript"></script>
    <script defer src="/article/assets/scripts/article.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.isLoggedIn = /*[[${session.sessionUser != null}]]*/ false;
        window.userStatus = /*[[${session.sessionUser?.status}]]*/ null;
        window.needsInfo = /*[[${needsInfo}]]*/ false;
        /*]]>*/
    </script>
</head>
<body>

<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<th:block th:replace="~{/fragments/common.html :: sideMypage}"></th:block>
<th:block th:replace="~{/fragments/common.html :: dialog}"></th:block>
<main id="main">
    <div class="container">
        <!-- 홍보 정보 -->
        <div class="context-container">
            <div class="content-container">
                <div class="order-card">
                    <!-- 제목 / 작성자 -->
                    <div class="title-container">
                        <h2 class="title" th:text="${article.title}"></h2>
                        <div class="user">
                            <div class="nickname" th:text="${article.nickname}"></div>
                            <div class="created-at"
                                 th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                            <div class="view" th:text="${article.view}"></div>
                        </div>
                    </div>

                    <div class="caption">가게 정보</div>
                    <div class="order-container">
                        <div class="box">
                            <div class="title">가게명</div>
                            <div class="caption" th:text="${article.restaurant}"></div>
                        </div>
                        <div class="box">
                            <div class="title">주소</div>
                            <div class="caption"
                                 th:text="${article.addressPrimary}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 지도 영역 (선택) -->
            <div class="view-container promote">
                <!-- 이미지 -->
                <div class="image-list-container" th:if="${files != null and !#lists.isEmpty(files)}">
                    <div class="slide-wrapper">
                        <div class="slide" th:each="file : ${files}">
                            <img th:src="${file.savedFilepath}" alt="">
                        </div>
                    </div>
                    <button class="prev" type="button">&#8249;</button>
                    <button class="next" type="button">&#8250;</button>
                </div>
                <div id="map">
                    <input hidden disabled readonly name="pointLat" type="hidden" th:value="${article.pointLat}">
                    <input hidden disabled readonly name="pointLng" type="hidden" th:value="${article.pointLng}">
                </div>
            </div>

            <!-- 내용 -->
            <div class="memo-card">
                <div class="caption">소개글</div>
                <div class="text" th:text="${article.content}"></div>
            </div>
        </div>
    </div>
    <div class="action-container"
         th:if="${session.sessionUser != null and session.sessionUser.email == article.userId}">
        <form th:if="${session.sessionUser != null and session.sessionUser.email == article.userId}"
              th:action="@{/article/{boardType}/modify(boardType=${boardType})}"
              method="get">
            <input type="hidden" name="id" th:value="${article.id}">
            <button data-object="button" data-color="concept" type="submit">수정하기</button>
        </form>
        <form th:if="${session.sessionUser != null and session.sessionUser.email == article.userId}"
              th:action="@{/article/{boardType}/delete(boardType=${boardType})}"
              method="post">
            <input type="hidden" name="id" th:value="${article.id}">
            <button data-object="button"
                    data-color="red"
                    type="submit"
                    onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</button>
        </form>
    </div>
    <!-- 이미지 모달 -->
    <div id="imageModal">
        <div class="backdrop"></div>
        <div class="modal-content">
            <button class="close" type="button">&#10005;</button>
            <img class="image" src="" alt="">
        </div>
    </div>
</main>

</body>
</html>
