<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/assets/styles/common.css" type="text/css">
    <link rel="stylesheet" href="/assets/styles/fragments.css" type="text/css">
    <link rel="stylesheet" href="/article/assets/styles/write.css" type="text/css">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=92c55423409f256ecb1626e5dbd939a0&libraries=services"></script>
    <script defer src="/assets/scripts/dialog.js"></script>
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/article/assets/scripts/write/promote.js"></script>
    <script th:inline="javascript">
        const isLoggedIn = /*[[${session.sessionUser != null}]]*/ false;
        const isBoss = /*[[${session.sessionUser != null && session.sessionUser.boss}]]*/ false;
    </script>
</head>
<body>
<th:block th:replace="~{fragments/common.html :: topNavigator}"></th:block>
<th:block th:replace="~{fragments/common.html :: sideMypage}"></th:block>
<th:block th:replace="~{fragments/common.html :: dialog}"></th:block>


<main id="main">
    <div class="error empty-session" th:if="${session.sessionUser == null}">
    </div>
    <div class="error invalid-session" th:if="${session.sessionUser != null && !session.sessionUser.boss}">
    </div>
    <form novalidate class="form" name="writeForm" enctype="multipart/form-data" th:if="${board != null && sessionUser != null && (!board.isAdminOnly() || board.isAdminOnly && sessionUser.isBoss())}">
        <h2 class="title" th:text="${article.id != null} ? '게시글 수정' : '게시글 작성'"></h2>
        <input type="hidden" name="boardId" value="promote">
        <input type="hidden" name="mode" th:value="${article.id != null ? 'modify' : 'write'}">
        <input type="hidden" name="id" th:value="${article.id}">
        <span class="board"></span>
        <input type="hidden" name="pointLat">
        <input type="hidden" name="pointLng">
        <label class="column">
            <span class="caption">제목</span>
            <input autofocus required autocomplete="off" class="input" maxlength="100" minlength="1" name="title" th:value="${article.title}" placeholder="제목을 입력해 주세요." type="text" data-object="input" data-component="label.field">
        </label>
        <label class="column">
            <label class="row">
                <span class="caption">가게위치</span>
                <input readonly class="input" maxlength="100" minlength="1" name="restaurantAddress" type="text" th:value="${article.addressPrimary}"
                       placeholder="'가게찾기' 버튼을 클릭해 주세요." data-object="input" data-component="label.field">
                <button class="button" name="restaurantButton" type="button" data-object="button" data-color="concept">가게찾기
                </button>
            </label>
            <label class="row">
                <span class="caption">가게명</span>
                <input required
                       class="input"
                       maxlength="100"
                       minlength="1"
                       name="restaurant"
                       th:value="${article.restaurant}"
                       placeholder="가게 이름을 입력해 주세요."
                       type="text"
                       data-object="input"
                       data-component="label.field">
            </label>
        </label>
        <div class="image-upload-container">
            <span class="caption">이미지 추가 (<span class="count">0</span>/10)</span>
            <label class="image-wrapper">
                <input hidden multiple class="image-wrapper" accept="image/*" name="files" type="file">
                <span class="caption">+</span>
            </label>
            <ol class="list">
                <li class="item">이미지를 업로드 해주세요.</li>
                <li class="item">이미지를 업로드 해주세요.</li>
                <li class="item">이미지를 업로드 해주세요.</li>
                <li class="item">이미지를 업로드 해주세요.</li>
                <li class="item">이미지를 업로드 해주세요.</li>
                <li class="item">이미지를 업로드 해주세요.</li>
                <li class="item">이미지를 업로드 해주세요.</li>
                <li class="item">이미지를 업로드 해주세요.</li>
                <li class="item">이미지를 업로드 해주세요.</li>
                <li class="item">이미지를 업로드 해주세요.</li>
            </ol>
        </div>
        <label class="column">
            <span class="caption">내용</span>
            <textarea required
                      autocomplete="off"
                      spellcheck="false"
                      maxlength="10000"
                      minlength="1"
                      name="content"
                      th:text="${article.content}"
                      rows="20"
                      data-object="input"
                      data-component="label.field"></textarea>
        </label>
        <div class="button">
            <button name="submit" type="submit" data-object="button" data-color="concept">작성하기</button>
        </div>
    </form>
    <div id="searchModal">
        <form class="modal" name="searchForm">
            <label class="label">
                <input class="search" maxlength="20" minlength="1" name="search" type="text"
                       placeholder="'위치 설정' 후 검색하세요.">
                <span class="image-wrapper">
                <img class="image" src="/assets/images/main/main.menu.search.png" alt="">
            </span>
            </label>
            <div class="button-container">
                <span class="caption">현위치:<span class="address">현 위치의 주소를 불러오는 중입니다.</span></span>
                <button class="button" name="current" type="button">
                    <img class="image" src="/article/assets/images/write/search-modal/current.png" alt="">
                </button>
                <button class="button" name="select" type="button">
                    <img class="image" src="/article/assets/images/write/search-modal/select.png" alt="">
                </button>
            </div>
            <div id="geoMap">
                <button class="close" name="close" type="button">
                    <img class="image" src="/article/assets/images/write/search-modal/close.png" alt="">
                </button>
            </div>
            <ol class="list">
                <li class="empty">
                    검색결과가 없습니다.
                </li>
            </ol>
        </form>
    </div>

</main>
</body>
</html>