@use "sass:color";
@import "../../../assets/styles/def";

#top {
  @include flex(row, space-between, center);
  background-color: #A5BDFF;
  padding: 1rem 3rem;
  z-index: 10;

  > .image-wrapper {
    line-height: 0;
    cursor: pointer;

    > .input {
      display: none;
    }
  }

  > .title {
    > .link {
      color: #FFFFFF;
      font: inherit;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  > .button-container {
    > .button {
      color: #FFFFFF;

      > .link {
        color: #FFFFFF;
      }
    }
  }
}

#ws {
  @include flex(row, center, center);
  bottom: 4rem;
  right: 4rem;
  width: 4rem;
  height: 4rem;
  background-color: #A5BDFF;
  border-radius: 999rem;
  position: fixed;

  > .room-container {
    @include flex(column, flex-start, stretch, 0.5rem);
    top: 0;
    right: -3.25rem;
    width: 20rem;
    height: 32rem;
    background-color: #E9EFFF;
    border-radius: 0.25rem;
    opacity: 0;
    pointer-events: none;
    padding: 0.5rem;
    position: absolute;
    transform: translateY(calc(-100% - 0.125rem));
    transition-duration: 250ms;
    transition-property: opacity, pointer-events, transform;

    &:has(+ .label > .input:checked) {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(calc(-100% - 0.625rem));
    }

    > .room {
      @include flex(column, flex-start, stretch, 0.25rem);
      background-color: #FFFFFF;
      flex: 1 1 auto;
      padding: 0.125rem 0.375rem;

      > .message {
        @include flex(row, flex-start, start, 0.5rem);
        border-bottom: 0.0625rem solid #E9EFFF;
        padding-bottom: 0.125rem;

        > .sender {
          color: #000000;
          font-size: 1rem;
          font-weight: 500;
        }

        > .content {
          color: inherit;
          font-size: 0.875rem;
          font-weight: 300;
        }
      }
    }

    > .label {
      @include flex(row, flex-start, center, 0.5rem);

      > .input {
        background-color: #FFFFFF;
        flex: 1 1 auto;
        padding: 0.125rem 0.25rem;
      }
    }
  }

  > .label {
    width: 2rem;
    height: 2rem;

    > .input {
      display: none;
    }

    > .image-wrapper {
      width: 2rem;
      height: 2rem;
      display: inline-block;
    }
  }
}

#main {
  @include flex(column, flex-start, stretch, 0.5rem);
  width: 60%;
  align-self: center;
  color: inherit;
  font: inherit;
  flex: 1 1 auto;
  padding: 2rem 0;
}

#main > .container {
  @include flex(column, flex-start, stretch);
  border: 0.0625rem solid #E9EFFF;
  flex: 1 1 auto;
  padding: 1rem;

  > .title-container {
    @include flex(column, flex-start, flex-start, 0.25rem);

    > .title {
      color: inherit;
      font: inherit;
      font-size: 1.375rem;
      font-weight: 700;
    }

    > .user {
      @include flex(row, flex-start, center, 1rem);
      color: lighten(#4a4a4a, 20%);
      font-size: 0.875rem;
      font-weight: 300;
      padding: 0 0.125rem;
    }
  }

  > .context-container {
    display: grid;
    flex: 1 1 auto;
    grid-template-columns: 2fr 1fr;

    > .content-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      > .menu-container,
      > .order-container {
        @include flex(column, space-evenly, flex-start , 0.25rem);
        width: 100%;
        height: 100%;

        > .box {
          @include flex(row, flex-start, center, 0.25rem);

          > .title {
            color: inherit;
            font-size: 0.9875rem;
            font-weight: 500;
          }

          > .caption {
            color: inherit;
            font-size: 0.9875rem;
            font-weight: 300;
          }
        }
      }

      > .text {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        padding-top: 0.5rem;
      }
    }

    > .view-container {
      display: grid;
      gap: 1rem;
      grid-template-rows: 1fr 1fr;

      > .fund-container {
        @include flex(column, center, stretch, 0.5rem);
        background-color: #E9EFFF;

        > .box {
          @include flex(column, flex-start, stretch);
          padding: 0.375rem 0;

          > .title {
            color: inherit;
            font-size: 1.25rem;
            font-weight: 400;
            padding-left: 0.75rem;
          }

          > .value-container {
            @include flex(row, center, center, 0.5rem);
            color: inherit;
            font-weight: 700;

            > .value {
              font-size: 2rem;
            }

            > .caption {
              font-size: 1.25rem;
            }
          }
        }

        > table {
          width: 100%;

          > tbody > tr {
            &:first-child {
              > th {
                font-size: 1.25rem;
              }
            }

            &.user {
              @include flex(row, space-evenly, center);
              width: 100%;

              > td {
                padding: 0.125rem;
              }
            }
          }
        }

        > .button-container {
          @include flex(row, center, center);
          padding: 0.375rem 0;

          > .button {
            width: 80%;
            background-color: #FFFFFF;
            border-radius: 0.5rem;
            padding: 0.625rem 1rem;

            &:hover {
              background-color: #F8F8F8;
              font-weight: 400;
            }

            &:active {
              background-color: #F0F0F0;
              font-weight: 500;
            }
          }
        }
      }

      > #map {
        height: 100%;
        border: 0.0625rem solid #E9EFFF;
      }
    }
  }
}
