@use "sass:color";
@import "../../../assets/styles/def";

#top {
  @include flex(row, space-between, center);
  background-color: #A5BDFF;
  padding: 1rem 3rem;

  > .image-wrapper {
    line-height: 0;
  }
}

// 메인 영역
#main {
  @include flex(column, flex-start, center);
  width: 60%;
  align-self: center;
  background-color: #ffffff;
  border: 0.0625rem solid #E9EFFF;
  color: inherit;
  font: inherit;
  //min-height: calc(100vh - 3.75rem);
  margin: 1rem 0;
  overflow-y: visible;
  padding: 2rem 2.5rem;

  .title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #212121;
  }

  .board {
    display: none;
  }

  // 공통 라벨 및 입력창 스타일
  label {
    @include flex(column, flex-start, stretch, 0.6rem);
    width: 100%;
    margin-bottom: 2.5rem;

    .caption {
      font-size: 1rem;
      font-weight: 700;
      color: #212121;
    }

    input[type="text"],
    input[type="time"],
    select {
      height: 2.8rem;
      border: none;
      border-bottom: 0.0625rem solid #d2deff;
      padding: 0.5rem 0;
      font-size: 1rem;
      background-color: transparent;
      outline: none;

      &::placeholder {
        color: #D1D5DB;
      }
    }
  }

  .row-group {
    @include flex(row, space-between, flex-start, 2rem);
    width: 100%;
    margin-bottom: 2.5rem;

    label {
      width: 100%;
      margin-bottom: 0;
    }
  }

  //이미지 추가
  .image-upload-container {
    .image-box {
      @include flex(row, center, center);
      width: 5rem;
      height: 5rem;
      background-color: #E9EFFF;
      border-radius: 0.75rem;
      cursor: pointer;
      margin-top: 0.5rem;
      font-size: 2rem;
      color: white;
    }
  }

  // 내용
  label:has(textarea) {
    textarea {
      min-height: 22rem;
      border: 0.0625rem solid #d2deff;
      border-radius: 0.75rem;
      padding: 1.5rem;
      font-size: 1rem;
      line-height: 1.5;
      resize: none;
      &:focus {
        border-color: #A5BDFF;
      }
    }

    span:last-child {
      font-size: 0.85rem;
      color: #9CA3AF;
      margin-top: 0.5rem;
    }
  }

  // 하단 체크박스, 버튼
  label:has(input[type="checkbox"]) {
    @include flex(row, flex-end, center, 0.4);
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.4rem;
    cursor: pointer;

    input[type="checkbox"] {
      width: 1.2rem;
      height: 1.2rem;
      accent-color: #A5BDFF;
    }
    .caption {
      font-weight: 400;
      color: #666666;
    }
  }

  .button {
    @include flex(row, flex-end, center);
    width: 100%;
    padding-bottom: 2rem;

    button {
      background-color: #CDDAFF;
      color: #ffffff;
      padding: 0.9rem 3.5rem;
      border-radius: 0.5rem;
      font-weight: 700;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #A5BDFF;
      }
    }
  }
}

/* 주소 검색 전체 백드롭 */
[data-address-dialog] {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease;

  &[data-visible] {
    opacity: 1;
    pointer-events: auto;
  }
}

/* 주소 검색 모달 */
[data-address-modal] {
  width: 100%;
  max-width: 420px;
  height: 520px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;

  transform: translateY(20px);
  opacity: 0;
  transition: .25s ease;

  [data-visible] & {
    transform: translateY(0);
    opacity: 1;
  }
}
